<footer>
  <div class="block block--menu block--menu__footer">
    <ul class="links inline menu">
      <li class="menu-item"><a href="#">Terms of Use</a></li>
      <li class="menu-item"><a href="#">Privacy Policy</a></li>
      <li class="menu-item"><a href="#">Code of Conduct</a></li>
    </ul>
  </div>
  <div class="block block--copyright">
    <p class="copyright">&copy; <a href="#/corp/sitemap">Copyright 2013</a> 22nd Century Media, LLC. All rights reserved.</p>
  </div>
  <script type="text/javascript">
  		new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
  </script>
</footer>