<nav id="primary-nav" role="custom-dropdown">
  <input type="checkbox" id="toggle-button">
  <label for="toggle-button" onclick></label>
  <ul class="menu--main-menu menu links inline">
    <li class="menu-item">
      <a active-link="active" href="#/corp/home">Home</a>
    </li>
    <li class="menu-item dropdown">
      <input type="checkbox" />
      <a active-link="active" active-trail="#/corp/company_who-we-are" data-toggle="dropdown" href="#/corp/company_who-we-are">Our Company<i class="icon theme-icon-arrow-down"></i></a>
      <ul class="menu--main-menu_sub dropdown-menu">
        <li class="menu-item leaf"><a active-link="active" href="#/corp/company_who-we-are">Who We Are</a></li>
        <li class="menu-item leaf"><a href="#/corp/company_who-we-are">Awards</a></li>
        <li class="menu-item leaf"><a href="#/corp/company_who-we-are">Press</a></li>
        <li class="menu-item leaf"><a href="#/corp/company_who-we-are">Careers</a></li>
      </ul>
    </li>
    <li class="menu-item dropdown">
      <input type="checkbox" />
      <a active-link="active" active-trail="#/corp/publications" data-toggle="dropdown" href="#/corp/publications">Publications<i class="icon theme-icon-arrow-down"></i></a>
      <ul class="menu--main-menu_sub dropdown-menu">
        <li class="menu-item leaf"><a active-link="active" href="#/corp/publications">North Shore</a></li>
        <li class="menu-item leaf"><a href="#/corp/publications">Southwest</a></li>
        <li class="menu-item leaf"><a href="#/corp/publications">Malibu</a></li>
      </ul>
    </li>
    <li class="menu-item">
      <a active-link="active" active-trail="#/corp/news_news-item" href="#/corp/industry-news">Industry News</a>
    </li>
    <li class="menu-item">
      <a active-link="active" href="#/corp/advertise">Advertise with us</a>
    </li>
    <li class="menu-item dropdown">
      <input type="checkbox" />
      <a active-link="active" active-trail="#/corp/contact_staff" data-toggle="dropdown" href="#/corp/contact">Contact Us<i class="icon theme-icon-arrow-down"></i></a>
      <ul class="menu--main-menu_sub dropdown-menu">
        <li class="menu-item leaf"><a active-link="active" href="#/corp/contact_staff">Staff Directory</a></li>
      </ul>
    </li>
  </ul>
</nav>