<nav class="mp-menu mp-overlap" id="mp-menu">
	<div class="mp-level" data-level="1">
		<h2 class="icon icon-world">All Categories</h2>
		<ul>
			<li class="icon icon-arrow-left">
				<a href="#" class="icon icon-display">Devices</a>
				<div class="mp-level" data-level="2">
					<h2 class="icon icon-display">Devices</h2>
					<ul>
						<li class="icon icon-arrow-left">
							<a href="#" class="icon icon-phone">Mobile Phones</a>
							<div class="mp-level" data-level="3">
								<h2>Mobile Phones</h2>
								<ul>
									<li><a href="#">Super Smart Phone</a></li>
									<li><a href="#">Thin Magic Mobile</a></li>
									<li><a href="#">Performance Crusher</a></li>
									<li><a href="#">Futuristic Experience</a></li>
								</ul>
							</div>
						</li>
						<li class="icon icon-arrow-left">
							<a href="#" class="icon icon-tv">Televisions</a>
							<div class="mp-level" data-level="3">
								<h2>Televisions</h2>
								<ul>
									<li><a href="#">Flat Superscreen</a></li>
									<li><a href="#">Gigantic LED</a></li>
									<li><a href="#">Power Eater</a></li>
									<li><a href="#">3D Experience</a></li>
									<li><a href="#">Classic Comfort</a></li>
								</ul>
							</div>
						</li>
						<li class="icon icon-arrow-left">
							<a href="#" class="icon icon-camera">Cameras</a>
							<div class="mp-level" data-level="3">
								<h2>Cameras</h2>
								<ul>
									<li><a href="#">Smart Shot</a></li>
									<li><a href="#">Power Shooter</a></li>
									<li><a href="#">Easy Photo Maker</a></li>
									<li><a href="#">Super Pixel</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</li>
			<li class="icon icon-arrow-left">
				<a href="#" class="icon icon-news">Magazines</a>
				<div class="mp-level" data-level="2">
					<h2 class="icon icon-news">Magazines</h2>
					<ul>
						<li><a href="#">National Geographic</a></li>
						<li><a href="#">Scientific American</a></li>
						<li><a href="#">The Spectator</a></li>
						<li><a href="#">The Rambler</a></li>
						<li><a href="#">Physics World</a></li>
						<li><a href="#">The New Scientist</a></li>
					</ul>
				</div>
			</li>
			<li class="icon icon-arrow-left">
				<a href="#" class="icon icon-shop">Store</a>
				<div class="mp-level" data-level="2">
					<h2 class="icon icon-shop">Store</h2>
					<ul>
						<li class="icon icon-arrow-left">
							<a href="#" class="icon icon-t-shirt">Clothes</a>
							<div class="mp-level" data-level="3">
								<h2 class="icon icon-t-shirt">Clothes</h2>
								<ul>
									<li class="icon icon-arrow-left">
										<a href="#" class="icon icon-female">Women's Clothing</a>
										<div class="mp-level" data-level="4">
											<h2>Women's Clothing</h2>
											<ul>
												<li><a href="#">Tops</a></li>
												<li><a href="#">Dresses</a></li>
												<li><a href="#">Trousers</a></li>
												<li><a href="#">Shoes</a></li>
												<li><a href="#">Sale</a></li>
											</ul>
										</div>
									</li>
									<li class="icon icon-arrow-left">
										<a href="#" class="icon icon-male">Men's Clothing</a>
										<div class="mp-level" data-level="4">
											<h2>Men's Clothing</h2>
											<ul>
												<li><a href="#">Shirts</a></li>
												<li><a href="#">Trousers</a></li>
												<li><a href="#">Shoes</a></li>
												<li><a href="#">Sale</a></li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#" class="icon icon-diamond">Jewelry</a>
						</li>
						<li>
							<a href="#" class="icon icon-music">Music</a>
						</li>
						<li>
							<a href="#" class="icon icon-food">Grocery</a>
						</li>
					</ul>
				</div>
			</li>
			<li><a href="#" class="icon icon-photo">Collections</a></li>
			<li><a href="#" class="icon icon-wallet">Credits</a></li>
		</ul>
	</div>
</nav>