.page {
  float: right;
}

.page,
.zone {
  width: 100%;
  position: relative;
}

.z-page-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  
  @include respond-to($medium) {
    position: relative;
  }
}

.w-header {
  padding-top: 56px;
  
  @include respond-to($medium) {
    padding-top: 0;
  }
}

.l-page-top {}
.l-header {}
.l-highlighted {}
.l-preface {}
.l-super {}
.l-main {}
.l-sub {}
.l-postscript {}
.l-sidebar-first {}
.l-sidebar-second {}
.l-footer {}
.l-footer-sub {}

/* .l-page-top, */
.l-header,
/* .l-highlighted, */
.l-preface,
/* .l-super, */
.l-main,
/* .l-content,
.l-sub, */
.l-postscript,
.l-sidebar-first,
.l-sidebar-second,
.l-footer,
.l-footer-sub {
  @include container;
  position: relative;
}

.l-page-top,
.l-highlighted,
.l-content {
  @include container;
  position: relative;
  @include respond-to($medium, max-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.corporate {
  .l-content {
    @include respond-to($medium) {
      margin-top: 3em;
    }
  }
}

.corporate {
  .l-main {
    @include container;
    @include respond-to($medium, max-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .w-highlighted {
    @include respond-to($medium, max-width) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      z-index: 50;
    }
    
    @include respond-to($medium) {
      border-bottom: 5px solid $bright-green;
      margin-bottom: 56px;
    }
  }
}

.sidebar-left {
  @include respond-to($medium) {
    .l-sidebar-first {
      @include span-columns(4);
      margin-top: 70px;
      padding-right: 0;
    }
    
    /* .l-super, */
    .l-main,
    /* .l-sub */ {
      @include span-columns(8);
      @include omega;
      padding-left: 0;
    }
  }
  
  &.sidebar-right {
    @include respond-to($medium) {
      .l-sidebar-first {
        @include span-columns(3);
      }
      
      /* .l-super, */
      .l-main,
      /* .l-sub */ {
        @include span-columns(5);
        padding-right: 0;
      }
      
      .l-sidebar-second {
        @include span-columns(4);
        @include omega;
        margin-top: 70px;
        padding-left: 0;
      }
    }
  }
}

.sidebar-right {
  @include respond-to($medium) {
    /* .l-super, */
    .l-main,
    /* .l-sub */ {
      @include span-columns(8);
      padding-right: 0;
    }
    
    .l-sidebar-second {
      @include span-columns(4);
      @include omega;
      margin-top: 70px;
      padding-left: 0;
    }

/*
    .l-super ~ .l-sidebar-second {
      position: absolute;
      top: 0.67em;
    }
*/
  }
}