.page {
  float: right;
}

.page,
.zone {
  width: 100%;
  position: relative;
}

.l-header {}
.l-highlighted {}
.l-preface {}
.l-main {}
.l-sub {}
.l-postscript {}
.l-sidebar-first {}
.l-sidebar-second {}
.l-footer {}
.l-footer-sub {}

.l-header,
.l-highlighted,
.l-preface,
.l-content,
.l-sub,
.l-postscript,
.l-sidebar-first,
.l-sidebar-second,
.l-footer,
.l-footer-sub {
  @include container;
  @include respond-to($medium, max-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.corporate {
  .l-main {
    @include container;
    @include respond-to($medium, max-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.sidebar-left {
  @include respond-to($medium) {
    .l-sidebar-first {
      @include span-columns(4);
    }
    
    .l-main {
      @include span-columns(8);
      @include omega;
    }
  }
}

.sidebar-right {
  @include respond-to($medium) {
    .l-main {
      @include span-columns(8);
    }
    
    .l-sidebar-second {
      @include span-columns(4);
      @include omega;
    }
  }
}