@import "compass";
@import "susy";
@import "global/functions";
@import "global/variables";
@import "global/extends/**/*";
@import "global/mixins/**/*";
@import "base/vendor/**/*";
@import "base/html/**/*";
@import "base/page/**/*";
@import "components/**/*";
@import "layout/**/*";
@import "theme/base";
@import "theme/**/*";

//animated links
a {
	@include transition(all 0.2s ease-in 0s);
	
  &:link,
  &:visited {
  	color: tint($pink, 30%);
  	text-decoration: none;
  }
  
  &:hover,
  &:focus {
  	color: $pink;
  }
}

/*
.button{
	margin-top:1em;
	height:3em;
	padding:0 5em;
}

.page{
	box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.10);
}
*/

//header bits
.header{

	h1 {
		text-align:center
	}
	h2 {
		@include respond-to($medium){
			margin-top:0;
		}
	}
}

/*
.avatar-image img{
  border-radius:50%;
}
*/
