@import "compass";
@import "susy";
@import "global/functions";
@import "global/variables";
@import "global/extends/**/*";
@import "global/mixins/**/*";
@import "base/vendor/**/*";
@import "base/html/**/*";
@import "base/page/**/*";
@import "components/**/*";
@import "layout/**/*";

//animated links
a{
	color: $link-blue;
	text-decoration: none;
}

a:hover{
	transition: all 0.2s ease-in 0s;
	color: $link-dark-blue;
}

img {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 1em;
}

nav, .footer {
	max-width: 1100px;
	margin: 1em auto;
}

.main {
	@include container;
	max-width: 1100px;
	margin: 0 auto;
}

