@import "compass";
@import "susy";
@import "global/functions";
@import "global/variables";
@import "global/extends/**/*";
@import "global/mixins/**/*";
@import "base/vendor/**/*";
@import "base/html/**/*";
@import "base/page/**/*";
@import "partials/components/**/*";
//@import "partials/components/site/**/*";
@import "partials/layouts/**/*";
@import "theme/components/**/*";
//@import "theme/components/site/**/*";
@import "theme/layouts/**/*";

*, *:before, *:after {
	-webkit-border-sizing: border-box;
	-moz-border-sizing: border-box;
	border-sizing: border-box;
}

//animated links
a {
	color: $link-blue;
	text-decoration: none;
	&:hover,
	&:focus {
  	transition: all 0.2s ease-in 0s;
  	color: $link-dark-blue;
	}
}

.button{
  line-height: 1em;
  height: auto;
	padding: 0 5em;
}

/*
.page{
	box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.10);
}
*/

//lists
ul {
  &.inline {
    list-style: none outside none;
    padding-left: 0;
    
    > li {
      display: inline-block;
    }
  }
  
  &.links {
    padding-left: 1em;
    
    &.inline {
      padding-left: 0;
    }
    
    > li {
      position: relative;
      vertical-align: top;
    }
  }
  
  &.menu {
    @include respond-to($medium) {
      > li {
        position: static;
      }
      
      ul {
        display: none;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 100%;
        min-width: 100%;
      }
    }
  }
}

//header bits
.header{
	/* background:$lightest-grey;
	h1{
		text-align:center
	}*/
	
	h2 {
		@include respond-to($medium){
			margin-top:0;
		}
	}
}

.hidden,
.element-invisible {
  @include hidden;
}

.col-right {
  .hidden,
  .element-invisible {
    + img,
    + div,
    + span,
    + ul,
    + ol {
  		margin-top: 78px;
    }
  }
}

.clearfix {
  @include clearfix;
}

[data-show="mobile"] {
  display: none !important;
  visibility: hidden !important;
  
  @include respond-to($small, max-width) {
    display: block !important;
    visibility: visible !important;
  }
}

[data-show="tablet"] {
  display: none !important;
  visibility: hidden !important;
  
  @include respond-to($small, $medium) {
    display: block !important;
    visibility: visible !important;
  }
}

[data-show="desktop"] {
  display: none !important;
  visibility: hidden !important;
  
  @include respond-to($medium) {
    display: block !important;
    visibility: visible !important;
  }
}

[data-hide="mobile"] {
  display: block;
  visibility: visible;
  
  @include respond-to($small, max-width) {
    display: none !important;
    visibility: hidden !important;
  }
}
 
[data-hide="tablet"] {
  display: block;
  visibility: visible;
  
  @include respond-to($small, $medium) {
    display: none !important;
    visibility: hidden !important;
  }
}

[data-hide="desktop"] {
  display: block;
  visibility: visible;
  
  @include respond-to($medium) {
    display: none !important;
    visibility: hidden !important;
  }
}