@mixin hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

@mixin clearfix {
  &:before, &:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
  }
  &:after {
      clear: both;
  }
}

@mixin rwdImage {
  display: inline-block;
  min-width: 100%;
  width: 100%;
  height: auto;
}

@mixin zebra($child) {
  #{$child} {
    background-color: darken($lightest-grey, 2.5%);
    &:nth-child(odd) {
      background-color: lighten($lightest-grey, 2.5%);
    }
  }
}

[data-show="mobile"] {
  display: none !important;
  visibility: hidden !important;
  
  @include respond-to($small, max-width) {
    display: block !important;
    visibility: visible !important;
  }
}

[data-show="tablet"] {
  display: none !important;
  visibility: hidden !important;
  
  @include respond-to($small, $medium) {
    display: block !important;
    visibility: visible !important;
  }
}

[data-show="desktop"] {
  display: none !important;
  visibility: hidden !important;
  
  @include respond-to($medium) {
    display: block !important;
    visibility: visible !important;
  }
}

[data-hide="mobile"] {
  display: block;
  visibility: visible;
  
  @include respond-to($small, max-width) {
    display: none !important;
    visibility: hidden !important;
  }
}
 
[data-hide="tablet"] {
  display: block;
  visibility: visible;
  
  @include respond-to($small, $medium) {
    display: none !important;
    visibility: hidden !important;
  }
}

[data-hide="desktop"] {
  display: block;
  visibility: visible;
  
  @include respond-to($medium) {
    display: none !important;
    visibility: hidden !important;
  }
}