%bundle-link {
	border-bottom-color: #171717;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	color: #171717;
	cursor: auto;
	display: inline;
	font-family: Georgia, serif;
	font-size: 16px;
	font-style: italic;
	line-height: 22px;
	text-decoration: none;
	&:hover {
		color: #9dc82a;
	}
}
