/**
 * Lists
 */
@mixin ul-nostyle {
	list-style: none;
	padding: 0;
	margin: 0;
}

/**
 * Panel Styles
 */
@mixin glass {
  @include background-image(
    linear-gradient(-45deg,
    rgba(122, 222, 244, 0.3) 0%,
    rgba(216, 225, 231, 0.4) 35.5%,
    rgba(181, 198, 208, 0.3) 35.6%,
    rgba(224, 239, 249, 0.05) 100%)
  );
  @include border-radius(4px 4px 2px 2px);
  @include box-shadow(
    0 3px 6px rgba(122, 222, 244, 0.3),
    0 1px rgba(255, 255, 255, 0.3) inset,
    0 10px 0 rgba(3, 73, 65, 0.3) inset,
    0 10px 20px rgba(255, 255, 255, 0.25) inset,
    0 -10px 3px rgba(3, 73, 65, 0.3) inset,
    -5px 0 4px rgba(3, 73, 65, 0.4) inset,
    5px 0 4px rgba(3, 73, 65, 0.4) inset,
    0 10px 20px rgba(3, 73, 65, 0.6)
  );
  border-color: rgba(3, 73, 65, 0.8) rgba(122, 222, 244, 0.8);
  border-style: solid;
  border-width: 2px 2px 3px;
  padding: 0.875em;
  background-color: rgba(tint($light-blue, 30%), 0.3);
}