@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/extends\/_copy-extends\.scss}line{font-family:\000031}}
.cooking-essentials a, .bundle-large a, .bundle-small a, .more-things a, nav a, .products .product a, .slider a {
  border-bottom-color: #171717;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  color: #171717;
  cursor: auto;
  display: inline;
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/extends\/_copy-extends\.scss}line{font-family:\0000313}}
.cooking-essentials a:hover, .bundle-large a:hover, .bundle-small a:hover, .more-things a:hover, nav a:hover, .products .product a:hover, .slider a:hover {
  color: #9dc82a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/extends\/_decorative-extends\.scss}line{font-family:\000031}}
.content .small-group, .cooking-essentials, .bundle-date, .bundle-large, .bundle-small, .more-things, .products, .slider {
  padding: 1.2em;
  background: #f7f7f7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/extends\/_title-extends\.scss}line{font-family:\000031}}
.bundle-date h2, .more-things h2, .slider .description h4 {
  color: #171717;
  display: inline-block;
  font-family: din-condensed-web, sans-serif;
  font-size: 29px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 33px;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/extends\/_title-extends\.scss}line{font-family:\0000312}}
.bundle-small h3, .more-things h3, .products .product h5 {
  color: #171717;
  cursor: auto;
  font-family: din-condensed-web, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/extends\/_title-extends\.scss}line{font-family:\0000320}}
.bundle-small h3:hover, .more-things h3:hover, .products .product h5:hover {
  color: #9dc82a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/extends\/_title-extends\.scss}line{font-family:\0000325}}
.bundle-large h3 {
  color: #171717;
  cursor: auto;
  font-family: acta-display, Georgia, serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 33px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\000035}}
.input_tiny {
  width: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\000039}}
.input_small {
  width: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\0000313}}
.input_medium {
  width: 150px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\0000317}}
.input_large {
  width: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\0000321}}
.input_xlarge {
  width: 250px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\0000325}}
.input_xxlarge {
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\0000329}}
.input_full {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\0000336}}
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\0000344}}
input[type="search"]::-webkit-search-decoration {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\0000355}}
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\0000359}}
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\0000370}}
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\0000379}}
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #dddddd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  font: bold 12px / 1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003101}}
button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003105}}
button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#dddddd, #eeeeee);
  background-image: -moz-linear-gradient(#dddddd, #eeeeee);
  background-image: -o-linear-gradient(#dddddd, #eeeeee);
  background-image: linear-gradient(#dddddd, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003115}}
button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003121}}
a.button {
  *padding-bottom: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003126}}
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003146}}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003169}}
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003180}}
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003194}}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003199}}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003204}}
input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003210}}
textarea,
select[size],
select[multiple] {
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003217}}
select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003227}}
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003233}}
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003240}}
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px / 17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003254}}
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border-color: #666666;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003262}}
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003269}}
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003277}}
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003308}}
.ie6_button,
* html button,
* html a.button {
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px / 1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  text-decoration: none;
  overflow: visible;
  vertical-align: top;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003321}}
* html a.button {
  position: relative;
  top: 3px;
  padding-bottom: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003327}}
* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003334}}
.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003345}}
* html select {
  margin-top: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003351}}
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_formalize\.scss}line{font-family:\00003355}}
.ie6_input_disabled {
  background: #eeeeee;
}

/* normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\0000322}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\0000332}}
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\0000341}}
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\0000350}}
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\0000364}}
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\0000374}}
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\0000386}}
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\0000395}}
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003108}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003117}}
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003126}}
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003134}}
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003142}}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003152}}
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003164}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003173}}
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003181}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003189}}
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003198}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003205}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003209}}
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003221}}
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003229}}
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003241}}
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003253}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003264}}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003278}}
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003290}}
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003302}}
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003317}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003327}}
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003337}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003348}}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003361}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003370}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003380}}
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/vendor\/_normalize\.scss}line{font-family:\00003393}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\0000314}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/html\/_html\.scss}line{font-family:\000033}}
html {
  font-family: georgia, serif;
  font-size: 16px;
  line-height: 1.375;
  background: #dddddd;
  color: #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/html\/_html\.scss}line{font-family:\0000311}}
img {
  max-width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/html\/_typography\.scss}line{font-family:\000033}}
h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, sans-serif;
  font-style: normal;
  color: #222222;
  line-height: 1.3;
  letter-spacing: -1px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/html\/_typography\.scss}line{font-family:\0000313}}
h1 {
  font-size: 2.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/html\/_typography\.scss}line{font-family:\0000314}}
h2 {
  font-size: 2.3125em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/html\/_typography\.scss}line{font-family:\0000315}}
h3 {
  font-size: 1.6875em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/html\/_typography\.scss}line{font-family:\0000316}}
h4 {
  font-size: 1.4375em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/html\/_typography\.scss}line{font-family:\0000317}}
h5 {
  font-size: 1.125em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/base\/html\/_typography\.scss}line{font-family:\0000318}}
h6 {
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_content-ad\.scss}line{font-family:\000032}}
.content .hero {
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_content-ad\.scss}line{font-family:\000035}}
.content .large {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_content-ad\.scss}line{font-family:\0000311}}
.content .small {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_content-ad\.scss}line{font-family:\0000317}}
.advert {
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_cook-banner\.scss}line{font-family:\000031}}
.cook-banner img {
  border: 1px solid #c4c4c4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_cooking-essentials\.scss}line{font-family:\000031}}
.cooking-essentials {
  margin-bottom: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_cooking-essentials\.scss}line{font-family:\000034}}
.cooking-essentials .copy {
  text-align: center;
  margin-bottom: 1em;
}
@media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_cooking-essentials\.scss}line{font-family:\000034}}
  .cooking-essentials .copy {
    text-align: left;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_cooking-essentials\.scss}line{font-family:\0000310}}
.cooking-essentials .copy h5 {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\000031}}
.bundle-date {
  margin-bottom: 1em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\000038}}
.bundle-date p {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000312}}
.bundle-large {
  margin-bottom: 1em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000316}}
.bundle-large img {
  margin-bottom: -43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000319}}
.bundle-large h3 {
  display: inline-block;
  position: relative;
  z-index: 10;
  background: white;
  margin: 0 0 .3em;
  padding: .2em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000328}}
.bundle-large p {
  margin-bottom: 1em;
  line-height: 1.2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000336}}
.bundle-small {
  text-align: center;
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/mixins\/_utility\.scss}line{font-family:\0000310}}
.bundle-small:before, .bundle-small:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/mixins\/_utility\.scss}line{font-family:\0000316}}
.bundle-small:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000341}}
.bundle-small h3 {
  margin: 0 0 .2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000345}}
.bundle-small p {
  line-height: 1.2;
  margin: 0 0 .2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000349}}
.bundle-small img {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000357}}
.quote {
  background: #b7b7b7;
  padding: 5.5em 3.5em;
  border-radius: 50% 0 50% 50%;
  text-align: center;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000366}}
.more-things {
  margin-bottom: 1em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/mixins\/_utility\.scss}line{font-family:\0000310}}
.more-things:before, .more-things:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/mixins\/_utility\.scss}line{font-family:\0000316}}
.more-things:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000371}}
.more-things h2 {
  margin: 0 0 .4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000375}}
.more-things h3 {
  margin: 0 0 .2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000379}}
.more-things p {
  line-height: 1.2;
  margin: 0 0 .2em;
  font-size: .9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_homepage-bundles\.scss}line{font-family:\0000384}}
.more-things img {
  width: 70%;
  margin: 0 auto 1em;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_nav\.scss}line{font-family:\000031}}
nav {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_nav\.scss}line{font-family:\000033}}
nav ul {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_nav\.scss}line{font-family:\000038}}
nav li {
  list-style-type: none;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_nav\.scss}line{font-family:\0000312}}
nav a {
  margin: 0 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_product-display\.scss}line{font-family:\000033}}
.products .product {
  text-align: center;
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_product-display\.scss}line{font-family:\000036}}
.products .product h5 {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_product-display\.scss}line{font-family:\0000310}}
.products .product p {
  margin-top: .2em;
  line-height: 1.2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_product-slider\.scss}line{font-family:\000031}}
.slider {
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_product-slider\.scss}line{font-family:\000034}}
.slider .description {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_product-slider\.scss}line{font-family:\000036}}
.slider .description h4 {
  margin-bottom: 0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_product-slider\.scss}line{font-family:\0000310}}
.slider .description p {
  margin-top: .2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/components\/_product-slider\.scss}line{font-family:\0000318}}
.slider .slider-img img {
  margin-bottom: 0;
}

@media screen and (min-width: 37.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_content-ad-layout\.scss}line{font-family:\000031}}
  .content {
    width: 100%;
    float: left;
    margin-right: -19.95em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/mixins\/_utility\.scss}line{font-family:\0000310}}
.content .hero:before, .content .hero:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/mixins\/_utility\.scss}line{font-family:\0000316}}
.content .hero:after {
  clear: both;
}
@media screen and (min-width: 37.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_content-ad-layout\.scss}line{font-family:\000037}}
  .content .hero {
    margin-right: 19.95em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/mixins\/_utility\.scss}line{font-family:\0000310}}
.content .hero .small-group:before, .content .hero .small-group:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/mixins\/_utility\.scss}line{font-family:\0000316}}
.content .hero .small-group:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_content-ad-layout\.scss}line{font-family:\0000315}}
.content .hero .small {
  width: 33.06122%;
  float: left;
  margin-right: 0.40816%;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
.content .hero .small:nth-child(3n) {
  float: right;
  margin-right: 0;
}

@media screen and (min-width: 37.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_content-ad-layout\.scss}line{font-family:\0000324}}
  .advert {
    width: 18.75em;
    float: right;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_cook-banner-layout\.scss}line{font-family:\000031}}
.cook-banner img {
  width: 25%;
  float: left;
  margin-right: 0%;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
.cook-banner img:nth-child(4n) {
  float: right;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_cooking-essentials-layout\.scss}line{font-family:\000031}}
.cooking-essentials {
  clear: both;
  display: table;
}
@media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_cooking-essentials-layout\.scss}line{font-family:\000034}}
  .cooking-essentials .copy {
    display: table-cell;
    vertical-align: middle;
    padding-right: 1.2em;
  }
}
@media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_cooking-essentials-layout\.scss}line{font-family:\0000311}}
  .cooking-essentials .photos {
    width: 400px;
    display: table-cell;
    vertical-align: middle;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_cooking-essentials-layout\.scss}line{font-family:\0000318}}
.cooking-essentials .photo {
  width: 30.66667%;
  float: left;
  margin-right: 4%;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
.cooking-essentials .photo:nth-child(3n) {
  float: right;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\000031}}
.toute {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\000034}}
.toute .primary {
  clear: both;
}
@media screen and (min-width: 37.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\000034}}
  .toute .primary {
    width: 48.14815%;
    float: left;
    margin-right: 3.7037%;
    display: inline;
  }
}
@media screen and (min-width: 37.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000310}}
  .toute .secondary {
    width: 48.14815%;
    float: right;
    margin-right: 0;
    *margin-left: -3em;
    display: inline;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000316}}
.toute .bundle-date {
  clear: both;
}
@media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000316}}
  .toute .bundle-date {
    margin-left: 16.99346%;
    margin-right: 16.99346%;
    width: 66.01307%;
    float: left;
    margin-right: 1.96078%;
    display: inline;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000323}}
.toute .quote {
  width: 65.33333%;
  float: right;
  margin-right: 0;
  *margin-left: -1.2em;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000326}}
.toute .bundle-small {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000329}}
.toute .bundle-small:nth-child(2n+1) img {
  width: 48.0%;
  float: right;
  margin-right: 0;
  *margin-left: -1.2em;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000332}}
.toute .bundle-small:nth-child(2n+1) .description {
  width: 48.0%;
  float: left;
  margin-right: 4%;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000337}}
.toute .bundle-small:nth-child(2n) img {
  width: 48.0%;
  float: left;
  margin-right: 4%;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000340}}
.toute .bundle-small:nth-child(2n) .description {
  width: 48.0%;
  float: right;
  margin-right: 0;
  *margin-left: -1.2em;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000346}}
.more-things {
  clear: both;
}
@media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000346}}
  .more-things {
    margin-left: 8.49673%;
    margin-right: 8.49673%;
  }
}
@media screen and (max-width: 56.249em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000351}}
  .more-things .thing {
    width: 46.93878%;
    float: left;
    margin-right: 6.12245%;
    display: inline;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
  .more-things .thing:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
@media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_home-bundles-layout\.scss}line{font-family:\0000351}}
  .more-things .thing {
    width: 22.77228%;
    float: left;
    margin-right: 2.9703%;
    display: inline;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
  .more-things .thing:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_page-layout\.scss}line{font-family:\000031}}
nav, .footer {
  margin: 1em auto;
  *zoom: 1;
  max-width: 64.9em;
  _width: 64.9em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
nav:after, .footer:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_page-layout\.scss}line{font-family:\000038}}
.main {
  *zoom: 1;
  max-width: 61.2em;
  _width: 61.2em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.main:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 56.249em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_page-layout\.scss}line{font-family:\0000313}}
  .footer .small {
    width: 32.02614%;
    float: left;
    margin-right: 1.96078%;
    display: inline;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
  .footer .small:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_page-layout\.scss}line{font-family:\0000317}}
  .footer .small:nth-child(3n) {
    display: none;
  }
}
@media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_page-layout\.scss}line{font-family:\0000313}}
  .footer .small {
    width: 23.52941%;
    float: left;
    margin-right: 1.96078%;
    display: inline;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
  .footer .small:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_party-ideas-layout\.scss}line{font-family:\000031}}
.partyideas {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_party-ideas-layout\.scss}line{font-family:\000033}}
.partyideas .small {
  width: 24.84725%;
  float: left;
  margin-right: 0.20367%;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
.partyideas .small:nth-child(4n) {
  float: right;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/mixins\/_utility\.scss}line{font-family:\0000310}}
.products:before, .products:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/global\/mixins\/_utility\.scss}line{font-family:\0000316}}
.products:after {
  clear: both;
}
@media screen and (max-width: 56.249em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_product-display-layout\.scss}line{font-family:\000033}}
  .products .product {
    width: 48.0%;
    float: left;
    margin-right: 4%;
    display: inline;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
  .products .product:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_product-display-layout\.scss}line{font-family:\000037}}
  .products .product:nth-child(2n+1) {
    clear: both;
  }
}
@media screen and (min-width: 56.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_product-display-layout\.scss}line{font-family:\000033}}
  .products .product {
    width: 32.02614%;
    float: left;
    margin-right: 1.96078%;
    display: inline;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
  .products .product:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_product-display-layout\.scss}line{font-family:\0000314}}
  .products .product:nth-child(3n+1) {
    clear: both;
  }
}

@media screen and (min-width: 37.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_product-slider-layout\.scss}line{font-family:\000031}}
  .slider {
    display: table;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_product-slider-layout\.scss}line{font-family:\000034}}
  .slider .description {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/layout\/_product-slider-layout\.scss}line{font-family:\000039}}
  .slider .slider-img {
    display: table-cell;
    vertical-align: middle;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/micah\/Sites\/tractor\/app\/scss\/style\.scss}line{font-family:\0000315}}
img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1em;
}
