<footer>
	<ul class="contactus">
		<li><a class="mail" href="mailto:hello@cloudnynedesign.com?subject=General Inquiry">hello@CLoudNYNEDesign.com</a></li>
		<li><span class="phone">+1 (615) DRUPAL - 0</span></li>
	</ul>
	<p>We're always looking for great talent to collaborate with - front or back end; <a class="drupal" href="http://www.drupal.org" target="_blank">Drupal</a> is a must. <a class="getintouch" href="mailto:hello@cloudnynedesign.com?subject=Contractor Inquiry">Contact us today!</a></p>
<footer>