<div class="block block--explore-publications block--callout">
  <h2 class="block--title">Archive</h2>
  <div class="block--content">
    <span>2013</span>
    <ul class="menu links inline inline--separated">
      <li><a href="">October</a></li>
      <li><a href="">September</a></li>
      <li><a href="">August</a></li>
      <li><a href="">July</a></li>
      <li><a href="">June</a></li>
      <li><a href="">May</a></li>
      <li><a href="">April</a></li>
      <li><a href="">March</a></li>
      <li><a href="">February</a></li>
      <li><a href="">January</a></li>
    </ul>
    <span>2012</span>
    <ul class="menu links inline inline--separated">
      <li><a href="">December</a></li>
      <li><a href="">November</a></li>
      <li><a href="">October</a></li>
      <li><a href="">September</a></li>
      <li><a href="">August</a></li>
      <li><a href="">July</a></li>
      <li><a href="">June</a></li>
      <li><a href="">May</a></li>
      <li><a href="">April</a></li>
      <li><a href="">March</a></li>
      <li><a href="">February</a></li>
      <li><a href="">January</a></li>
    </ul>
  </div>
</div>