<div class="office">
  <div class="vcard">
    <h5 class="name" ph-txt words="2"></h5>
    <div class="address">
      <div class="street">11516 W 183rd St.</div>
      <div class="unit">Unit SW, Office Condo #3</div>
      <span class="locality">Orland Park</span>,&nbsp;<span class="region">Il</span>&nbsp;<span class="postal-code">60467</span>
      <a href="" class="directions">Get Directions</a>
    </div>
    <div id="tel" class="telephone"><label for="tel">Telephone: </label>708.326.9170</div>
    <div id="fax" class="fax"><label for="fax">Fax: </label>708.326.9179</div>
  </div>
</div>