<div class="block block--explore-publications block--callout">
  <h2 class="block--title">Explore the Family</h2>
  <div class="block--content">
    <p>View all of our publications.</p>
    <form id="form--explore-publications">
      <div class="field field--item field--item__select--single">
        <select>
          <option value="select" selected>Select One</option>
          <option value="publication">Publication</option>
          <option value="publication-1">Publication 1</option>
          <option value="publication-2">Publication 2</option>
          <option value="publication-3">Publication 3</option>
        </select>
      </div>
    </form>
  </div>
</div>