<div id="content-slider">
  <div id="slider">  <!-- Slider container -->
    <div id="mask">  <!-- Mask -->
    
      <ul>
        <li id="first" class="firstanimation">
          <a href=""><img ph-img="960x380" text="Slide 1" /></a>
          <div class="tooltip">
            <h1 ph-txt words="4"></h1>
          </div>
        </li>
        <li id="second" class="secondanimation">
          <a href=""><img ph-img="960x380" text="Slide 2" /></a>
          <div class="tooltip">
            <h1 ph-txt words="6"></h1>
          </div>
        </li>
        <li id="third" class="thirdanimation">
          <a href=""><img ph-img="960x380" text="Slide 3" /></a>
          <div class="tooltip">
            <h1 ph-txt words="5"></h1>
          </div>
        </li>
        <li id="fourth" class="fourthanimation">
          <a href=""><img ph-img="960x380" text="Slide 4" /></a>
          <div class="tooltip">
            <h1 ph-txt words="7"></h1>
          </div>
        </li>
        <li id="fifth" class="fifthanimation">
          <a href=""><img ph-img="960x380" text="Slide 5" /></a>
          <div class="tooltip">
            <h1 ph-txt words="3"></h1>
          </div>
        </li>
      </ul>
    
    </div>  <!-- End Mask -->
    <div class="progress-bar"></div>
  </div>  <!-- End Slider Container -->
</div>