<div class="feature">
  <h3 class="thanks">Thanks for visiting our site.</h2>
  <p>We have been working long hours to release an amazing new site. We will offer Drupal project resources, blog posts, tutorials, and other featured content - case studies and white-papers pertaining to our latest Drupal adventures too. Stay in the loop!</p>
  <p class="newsletter">
    Sign up for our <button class="newsletter button" type="button"  onclick="$(document).find('.webform--newsletter').toggleClass('modal');">Newsletter</button>
  </p>
</div>