<article class="block--webform webform--newsletter">
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form novalidate="" target="_blank" class="validate" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" method="post" action="http://CLoudNYNEDesign.us2.list-manage.com/subscribe/post?u=eb58e59d3aa62416a1da6d33b&id=fcfe056153">
    	<h2 class="title">Subscribe to our mailing list</h2>
      <span class="mc-field-group">
      	<label for="mce-EMAIL">Email Address<span class="asterisk">*</span></label>
      	<input type="email" id="mce-EMAIL" class="required email" name="EMAIL" placeholder="Your Email Address">
      </span>
    	<span class="mc-field-submit">
      	<input onsubmit="if(this.email.value == 'Your Email Address'){ alert('Please enter a valid email address'); return false; }" type="submit" class="small button" id="mc-embedded-subscribe" name="subscribe" value="Subscribe">
    	</span>
    	<div class="clear" id="mce-responses">
    		<div style="display:none" id="mce-error-response" class="response"></div>
    		<div style="display:none" id="mce-success-response" class="response"></div>
    	</div>
    </form>
  </div>
  <!--End mc_embed_signup-->
  <button class="close icon action action--negative" onclick="$(document).find('.webform--newsletter').toggleClass('modal');">Close</button>
</article>