<div class="foo">
  <div class="bar">
    CLoud NYNE Design provides a B2B service with a specialization in the Drupal CMS. Both founding partners, Erik Baldwin and John Learned, are active contributors to the open source space that is Drupal. The type of Drupal products that we've built range from small, brochure-ware type sites to large, private social media networks and e-commerce sites. John's extensive experience with network infrastructures and complex data systems coupled with Erik's background in functional and graphic design makes them a powerhouse.

We have a passion for collaborating with other developers and prefer to include them on projects where there is an obvious fit. CND's business structure lends itself nicely to working with various contractors around the globe. Preferably, each of our contractors is a member of some open source community and has a deep understanding of the skills we're looking to utilize. 
  </div>
</div>