 <div class="more-things">
  <h2>A Few More Things</h4>
  <div class="things">
    <div class="thing">
      <img ph-img="150x150" text="few more things">
      <h3 ph-txt words="4"></h3>
      <p ph-txt words="10"></p>
      <a href="#">See More</a>
    </div>
      <div class="thing">
      <img ph-img="150x150" text="few more things">
      <h3 ph-txt words="4"></h3>
      <p ph-txt words="10"></p>
      <a href="#">See More</a>
    </div>
    <div class="thing">
      <img ph-img="150x150" text="few more things">
      <h3 ph-txt words="4"></h3>
      <p ph-txt words="10"></p>
      <a href="#">See More</a>
    </div>
    <div class="thing">
      <img ph-img="150x150" text="few more things">
      <h3 ph-txt words="4"></h3>
      <p ph-txt words="10"></p>
      <a href="#">See More</a>
    </div>
  </div>
</div>
