<div class="block--social-media">
  <h2 class="block--title">Follow Us: </h2>
  <ul class="social-media">
		<li><a href="http://twitter.com/" alt="Twitter"><span class="spritesheet icntw"></span></a></li>
		<li><a href="https://www.facebook.com/" alt="Facebook"><span class="spritesheet icnfb"></span></a></li>
		<!-- <li><a href="http://dribbble.com/tags/" alt="Dribbble"><span class="spritesheet icndribbble"></span></a></li> -->
		<li><a href="http://www.linkedin.com/" alt="Linkedin"><span class="spritesheet icnlinledin"></span></a></li>
	</ul>
</div>