/**
 * Feature
 */
.feature {
  @include span-columns($total-columns);
  .thanks {
    text-align: center;
  }
  
  @include respond-to($small) {
    @include span-columns($total-columns - 2);
    @include pre(1, $total-columns);
    font-size: 1.2em;
    
    p {
      text-align: justify;
    }
  }
  
  @include respond-to($medium) {
    @include span-columns($total-columns - 4);
    @include pre(2, $total-columns);
    
    .thanks {
      text-align: left;
    }
  }
}

/**
 * Social Media
 */
.block--social-media {
  @include span-columns($total-columns);
  text-align: center;
  margin-bottom: 1.8em;
  
  .block--title {
    display: inline-block;
    margin: 0.125em 0 0;
    vertical-align: text-top;
    padding-left: 0 !important;
    padding-right: 0 !important;
    
    @include respond-to($small) {
      padding-right: 1em !important;
    }
      
    @include respond-to($small, max-width) {
      @include container;
    }
  }
}

ul {
  &.social-media {
    margin-bottom: 0.625em;
    padding-bottom: 0.5em;
    padding-left: 0 !important;
    padding-right: 0 !important;
    
    li {
      display: inline-block;
      margin-right: 50px;
      vertical-align: top;
      
      &:last-child {
        margin-right: 0;
      }
      
      a {
        @include border-radius(4px 4px 4px 4px);
        position: relative;
        z-index: 5;
        
        &:link,
        &:visited {
          @include box-shadow(0 0 0.5em 2px rgba($dark-blue, 0.4) inset);
          background-color: $sky-blue;
          display: inline-block;
          width: 70px;
          height: 65px;
          left: 0;
          top: 0;
        }
        
        &:hover,
        &:focus {
          @include border-radius(6px);
          @include box-shadow(
            -2px -2px 8px rgba($black, 0.2) inset,
            2px 2px 6px rgba($white, 0.15) inset,
            0px 0px 1px rgb(12, 172, 255),
            1px 1px 1px $white,
            2px 2px 1px rgb(255, 255, 255),
            3px 3px 1px rgb(255, 255, 255),
            4px 4px 0 rgb(245, 245, 245),
            20px 18px 24px rgba(18, 18, 18, 0.5)
          );
          background-color: darken($sky-blue, 12%);
          left: -7px;
          top: -7px;
        }
      }
      
      @include respond-to($small, max-width) {
        @include span-columns($total-columns / 3);
        @include nth-omega();
      }
    }
      
    @include respond-to($small, max-width) {
      @include container;
    }
      
    @include respond-to($small) {
      display: inline-block;
    }
  }
}

/**
 * Newsletter
 */
.webform--newsletter {
  display: none;
  background-color: rgba($black, 0.8);
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  
  .close {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
  }
  
  form {
    @include glass;
    @include box-shadow(
      0 3px 6px rgba(122, 222, 244, 0.3),
      0 1px rgba(255, 255, 255, 0.3) inset,
      0 10px 0 rgba(3, 73, 65, 0.3) inset,
      0 10px 20px rgba(255, 255, 255, 0.25) inset,
      0 -10px 3px rgba(3, 73, 65, 0.3) inset,
      -5px 0 4px rgba(3, 73, 65, 0.4) inset,
      5px 0 4px rgba(3, 73, 65, 0.4) inset,
      0 10px 20px rgba(3, 73, 65, 0.6),
      0 18px 24px 6px rgba($true-black, 0.6)
    );
  }
  
  #mc_embed_signup {
    background-color: rgba(tint(rgb(3, 73, 65), 60%), .4);
    position: absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    margin-top: -115px;
    margin-left: -45%;
  
    @include respond-to($small, $medium) {
      width: 70%;
      margin-left: -35%;
      text-align: center;
    }
    
    @include respond-to($medium) {
      text-align: center;
      width: 820px;
      margin-left: -410px;
    }
  }
  
  @include respond-to($small, max-width) {
    .title {
      font-size: 24px;
    }
    
    .mc-field-group,
    .mc-field-submit {
      display: block;
      width: 100%;
    }
    
    input {
      display: block;
      width: 100%;
    }
  }
}

#mc_embed_signup {
  .title,
  .mc-field-group,
  .mc-field-submit {
    display: inline-block;
    vertical-align: middle;
  }
  
  .title {
    &:after {
      content: " :";
    }
    
    @include respond-to($small) {
      padding-right: 0.5em;
    }
  }
  
  .mc-field-group,
  .mc-field-submit {
    margin-bottom: 1em;
    
    input {
      font-size: 1.3em;
    }
    
    @include respond-to($small, $medium) {
      margin-bottom: 32px;
    }
    
    @include respond-to($medium) {
      margin-bottom: 0;
    }
  }
  
  label {
    display: none;
  }
}

/**
 * Copyright
 */
.block--copyright {
  @include span-columns($total-columns);
  color: $main-nav-grey;
  font-size: 0.5em;
  
  p {
    margin: 0.5em 0;
  }
  
  @include respond-to($small) {
    font-size: 0.625em;
  }
  
  @include respond-to($medium) {
    font-size: 0.8em;
  }
}

p.newsletter {
  text-align: center;
  font-size: 1.5em;
  line-height: 2.25em;
  
  button {
    margin: 0.25em 0.5em;
  }
}