@include border-box-sizing;

html {
  background-color: $true-white;
  font-family: $copy-font-family;
  font-size: $copy-font-size;
  line-height: $copy-line-height;
}

img {
  max-width:100%;
  height: auto
}
