@include border-box-sizing;

html {
  color: lighten($med-grey, 12%);
  font-family: $copy-font-family;
  font-size: $copy-font-size;
  line-height: $copy-line-height;
  background: $white;
}

img {max-width:100%; height: auto}

html .newspaper {
  color: $dark-grey;
  font-family: $sans-serif;
}