//styles

$header-font-sizes: $h1-font-size, $h2-font-size, $h3-font-size, $h4-font-size, $h5-font-size, $h6-font-size;

@for $i from 1 through length($header-font-sizes) {
  h#{$i} {
    font-size: nth($header-font-sizes, $i);
    font-family: $header-font-family;
    font-style:  $header-font-style;
    color:       $header-font-color;
    line-height: $header-line-height;
    letter-spacing: $header-letter-spacing;
    font-weight: $header-font-weight;
    
    a {
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active,
      &.active,
      &.active-trail {
        font-family: $header-font-family;
      }
    }
    
  }
  
  .newspaper {
    h#{$i} {
      color: $dark-grey;
      font-family: $serif;
    }
  }
}

.page--title {
  font-size: 32px;
}
.node--title {}
.block--title {}
.sub--title,
.subheading {}

.block--title,
.sub--title,
.subheading {
  font-size: 28px;
}

.section--title {
  margin: 0;
}

a {
  &:link,
  &:visited {
  	@include transition(all 0.2s ease-in 0s);
  	color: $link-blue;
  	font-family: $sans-serif;
  	text-decoration: none;
	}

  &:hover,
  &:focus {
  	color: $link-light-blue;
  }
  
  &:active,
  &.active,
  &.active-trail {}
}

.corporate {
  .page--title {
    border-bottom-color: $bright-green;
    border-bottom-width: 2px;
    color: $title-blue;
    font-family: "Raleway";
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
  }
}