.bundle-date {
  @extend %grey-box;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  h2 {
   @extend %caps-title;
  }
  p {
    margin: 0;
  }
}
.bundle-large {
  @extend %grey-box;
  margin-bottom: 1em;
  text-align: center;
  img {
    margin-bottom: -43px;
  }
  h3 {
    @extend %serif-title;
    display: inline-block;
    position: relative;
    z-index: 10;
    background: white;
     margin: 0 0 .3em;
    padding: .2em 1em;
  }
  p {
    margin-bottom: 1em;
    line-height: 1.2;
  }
  a {
    @extend %bundle-link;
  }
}
.bundle-small {
  @include clearfix;
  @extend %grey-box;
  text-align: center;
  margin-bottom: 1em;
  h3 {
    @extend %caps-title-small;
    margin: 0 0 .2em;
  }
  p {
    line-height: 1.2;
    margin: 0 0 .2em;
  }
  img {
    margin-bottom: 0;
  }
  a {
    @extend %bundle-link;
  }
}

.quote {
  background: darken($light-grey,15%);
  padding: 3.5em 3.5em;
  height: 100%;
  border-radius: 50% 0 50% 50%;
  text-align: center;
}

.more-things {
  text-align: center;
  @include clearfix;
  @extend %grey-box;
  h2 {
    margin: 0 0 .4em;
    @extend %caps-title;
  }
  h3 {
    @extend %caps-title-small;
    margin: 0 0 .2em;
  }
  p {
    line-height: 1.2;
    margin: 0 0 .2em;
    font-size: .9em;
  }
  img {
    width: 70%;
    margin: 0 auto 1em;
    display: block;
  }
  a {
    @extend %bundle-link;
  }
}
