.slider {
	background: darken($light-grey, 15%);
	margin-bottom: 2em;
	.description {
		text-align: center;
		line-height: 1.2;

		h4 {
			margin-bottom: 0em;
		}
		p {
			margin-top: .2em;
		}
	}
	.slider-img {
		img {
			margin-bottom: 0;
		}
	}		
}

.products {
	.product {
		text-align: center;
		margin-bottom: 1em;
		h5 {
			margin-bottom: 0;
		}
		p {
			margin-top: .2em;
			line-height: 1.2;
		}
	}
}