.bundle-small {
  @include clearfix;
  @extend %white-box;
  text-align: center;
  margin-bottom: 1em;
  h3 {
    @extend %caps-title-small;
    margin: 0 0 .2em;
  }
  p {
    line-height: 1.2;
    margin: 0 0 .2em;
  }
  img {
    margin-bottom: 0;
  }
  a {
    @extend %bundle-link;
  }
}
