.block {
  margin-bottom: 1em;
}

.block--callout {
  background-color: $lightest-grey;
  padding: 0.625em;
  
  .block--title {
    border-bottom: medium none;
    color: $dark-grey;
    font-family: $sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .block--content {
    color: lighten($med-grey, 10%);
    
    > p {
      margin-top: 0;
    }
  }
}

.block--menu {
  .block--title {
    border-bottom: medium none;
    font-size: 1.5em;
  }
}

.block--menu--sidebar {
  ul {
    list-style: none outside none;
    
    &.links {
      padding-left: 0;
    }
  }
  
  li {
    a {
      &:link,
      &:visited {
        display: block;
        width: 100%;
        border-bottom: 1px solid $middle-grey;
        padding: 0.5em;
        position: relative;
        overflow: hidden;
        
        &:after {
          @include transform(scale(2.5));
          content: "d";
          font-family: "Theme Icons";
          position: absolute;
          right: 8px;
          top: 0;
          padding-top: 0.25em;
          text-align: center;
        }
      }
      
      &:hover,
      &:focus,
      &:active,
      &.active,
      &.active-trail {
        background-color: $link-blue;
        color: $white;
      }
    }
  }
}

.block--webform {
  .webform--footer {
    text-align: right;
  }
}

.highlighted {
  .block--search-form {
    max-width: 33%;
    width: 25%;
    position: absolute;
    right: 24px;
    top: 5px;
    z-index: 5;
    
    @include respond-to($large) {
      width: 33%;
    }
  }
}

.block--search-form {}

input.form--search__query {
  border: medium none;
  font-family: $serif;
  font-size: 1em;
  font-style: italic;
  max-width: 100%;
  width: 100%;
  height: auto;
  padding: 7px 38px 6px 0.5em;
}

.form--search__submit {
  @include border-radius(0);
  background-color: $white;
  background-image: none;
  border: medium none;
  color: $med-grey;
  position: absolute;
  right: 0;
  top: 0;
  min-width: 40px;
  height: 100%;
  padding: 7px 0 6px;
  
  &:hover,
  &:focus {
    background-image: none;
    background-color: $middle-grey;
  }
  
  .icon:before {
    text-align: center;
    vertical-align: text-top;
    width: 100%;
    margin-right: 0;
    text-indent: 0 !important;
  }
}

.block--popular-posts {
  border-bottom: 1px solid $black;
}

.block--breaking-news {
  font-family: $sans-serif;
  
  .block--title {
    border-bottom: medium none;
    display: inline;
    float: left;
    font-size: 1.5rem;
  }
}

.block--breaking-news__single {
  display: block;
  font-size: 14px;
  margin-top: 0.5em;
  padding-top: 0.5em;
  
  .block--title {
    color: $red;
    font-size: 14px;
    margin: 0.25em 1.5em;
    margin-top: 0.125em;
    margin-left: 0.5em;
    
    i:last-child {
      display: inline-block;
      position: relative;
      font-weight: bold;
      top: 0.125em;
    }
  }
}

.topbar {
  .block--breaking-news__single {
    padding: 0 1em;
    
    .block--title {
      @include clearfix;
      background-color: $red;
      color: $white;
      display: inline-block;
      float: none;
      font-family: $sans-serif;
      font-weight: normal;
      letter-spacing: 0.05em;
      position: relative;
      margin-left: -1em;
      padding: 0.3em 0.8em;
      padding-left: 1em;
      
      &:before {
        @include box-sizing(border-box);
        border-color: transparent;
        border-left-color: $red;
        border-style: solid;
        border-width: 14px 0 14px 10px;
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        width: 0;
        height: 100%;
      }
    }
    
    .block--content {
      padding: 0.4em 0;
      
      div {
        &:first-child {
          border-bottom: 1px solid $lightest-grey;
          margin-bottom: 0.3em;
          padding-bottom: 0.3em;
        }
        
        &:last-child {
          a {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

.block--section-teaser {
  @include span-columns($total-columns);
  
  @include respond-to($small) {
    @include span-columns($total-columns / 2);
    @include nth-omega(2n);
  }
}

.block--ad,
.block--aotm,
.block--aotw {
  .block--content,
  p:first-child {
    margin-top: 0;
  }
  
  img {
    /* @include rwdImage; */
  }
}

.block--popular-posts {
  ol {
    @include zebra(li);
    counter-reset: item-counter;
    list-style: none outside none; 
    padding-left: 0;
    
    li:before {
      content: counter(item-counter)'.';
    	counter-increment: item-counter;
    	font-size: 2em;
    	position: absolute;
    	right: calc(100% - 1.25em);
    	top: 0;
    	vertical-align: top;
    }
  }
  
  li {
    position: relative;
    padding: 0.5em;
  }
  
  .node--index {
    padding-left: 3em;
  }
}

.block--webform__reader-poll {}

#poll--reader-poll {
  .form-item {
    clear: both;
    margin-bottom: 0.5em;
    padding-left: 2em;
    
    input {
      margin-left: -1.5em;
    }
    
    label {
      display: inline-block;
      margin-bottom: 0.5em;
      padding-left: 1em;
      vertical-align: top;
    }
  }
}

/* Views */
.block--views__view {
  .view--footer {
    text-align: right;
    padding-right: $gutter-width;
  }
}

.block--views__headline {
  background-color: $lightest-grey;
  margin-bottom: 1em;
  padding-bottom: $gutter-width / 2;
}

.block--views__breaking-news {
  h2.block--title {
    background-color: $link-blue;
    color: $white;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 2.25em;
    margin-top: 1.15em;
    margin-right: 1.5em;
    padding-left: 0.5em;
    padding-right: 5px;
    position: relative;
    z-index: 2;
    
    &:before {
      content: " ";
      border-color: transparent transparent transparent $link-blue;
      border-style: solid;
      border-width: 18px;
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 1;
    }
  }
  
  .node--simple {
    &:first-child {
      background-color: $light-grey;
      border-top: 1px solid $black;
    }
    
    &:last-child {
      border-bottom: 1px solid $black;
    }
  }
  
  .view--footer {
    border-bottom: 1px solid $black;
  }
}

.block--columnist__related-posts {
  @include span-columns($total-columns);
}

.block--view__movies {
  @include span-columns($total-columns);
  .node--movie {
    @include span-columns($total-columns / 2);
    @include nth-omega(2n);
    
    @include respond-to($small) {
      @include span-columns($total-columns / 4);
      @include remove-nth-omega(2n);
      
      &:last-child {
        @include omega;
      }
    }
  }
}

.block--news__feed {
  ul.links {
    margin: 0;
    padding-left: 0;
  }
  .node--simple {
    list-style: none outside none;
    
    &:last-child {
      border-bottom: 1px solid $black;
      margin-bottom: 0.5em;
    }
  }
  
  .node--title {
    @include respond-to($small) {
      @include span-columns($total-columns - 3);      
      max-height: 23px;
      overflow: hidden;
      padding-right: 0.5em;
    }
  }
  
  .post-date {
    color: $hero-grey;
    
    @include respond-to($small, max-width) {
      display: block;
      text-align: right;
      font-style: italic;
      width: 100%;
    }
    @include respond-to($small) {
      @include span-columns(3);
      @include omega;
       border-left: 1px solid $hero-grey;
       margin-top: 0.5em;
       padding-left: 0.5em;
    }
  }
  
  .pager {
    text-align: right;
  }
}

.block--view__movies--now-playing,
.block--view__movies--coming-soon {
  .view--content {
    @include span-columns($total-columns);
  }
  
  .node--movie {
    @include span-columns($total-columns / 3);
    @include remove-nth-omega(2n);
    @include nth-omega(3n);
  }
}

.block--columnist__recent-articles {
  ul.links {
    list-style: none outside none;
    padding-left: 0;
  }
  
  .node--simple {
    &:last-child {
      border-bottom: 1px solid $black;
    }
  }
  
  .view--footer {
    border-bottom: 1px solid $black;
  }
}

/**
 * Corporate Theme
 *
 **/
.block--corporate {
  .block--title {
    border-bottom-color: $bright-green;
    border-bottom-width: 2px;
    color: $title-blue;
    font-family: "Raleway";
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.block--explore-publications {
  .field--item__select--single {
    position: relative;
  	display: block;
  	
  	&:after {
  		@include transform(rotate(90deg) scale(1.5));
  		background-color: $trueWhite; 
  		border-bottom: 1px solid $main-nav-grey;
  		color: $link-blue;
  		font-family: "Theme Icons";
  		font-size: 1.85em;
  		line-height: 32px;
  		text-indent: -9px;
  		top: 0;
  		left: calc(100% - 35px);
  		content: "d";
  		padding: 0 0 0 5px;
  		position: absolute;
  		width: 14px;
  		height: 32px;
  		pointer-events: none;
  	}
  }
  
  select {
    @include border-radius(0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: medium none;
    color: $hero-grey;
    font-family: $serif;
    font-size: 0.8em;
    font-style: italic;
    padding: 0.75em;
    width: 100%;
    height: auto;
  }
}