h2.block--title {
  font-size: 28px;
}

.block--menu {
  .block--title {
    border-bottom: medium none;
    font-size: 1.5em;
  }
}

.block--title {
  font-family: serif;
}

.block--webform {
  .webform--footer {
    text-align: right;
  }
}

.highlighted {
  .block--search-form {
    position: absolute;
    right: 1.5em;
    top: 0.625em;
    z-index: 5;
  }
}

.block--popular-posts {
  border-bottom: 1px solid $black;
}

.block--breaking-news {
  .block--title {
    border-bottom: medium none;
    display: inline;
    float: left;
    font-size: 1.5rem;
  }
}

.block--breaking-news__single {
  .block--title {
    color: $red;
    font-size: 1rem;
    margin: 0.25em 1.5em;
    margin-left: 0.5em;
  }
}

.block--section-teaser {
  @include span-columns($total-columns);
  
  @include respond-to($small) {
    @include span-columns($total-columns / 2);
    @include nth-omega(2n);
  }
}

.block--ad,
.block--aotm,
.block--aotw {
  .block--content,
  p:first-child {
    margin-top: 0;
  }
  
  img {
    /* @include rwdImage; */
  }
}

.block--popular-posts {
  ol {
    @include zebra(li);
    counter-reset: item-counter;
    list-style: none outside none; 
    padding-left: 0;
    
    li:before {
      content: counter(item-counter)'.';
    	counter-increment: item-counter;
    	font-size: 2em;
    	position: absolute;
    	right: calc(100% - 1.25em);
    	top: 0;
    	vertical-align: top;
    }
  }
  
  li {
    position: relative;
    padding: 0.5em;
  }
  
  .node--index {
    padding-left: 3em;
  }
}

.block--webform__reader-poll {}

#poll--reader-poll {
  .form-item {
    clear: both;
    margin-bottom: 0.5em;
    padding-left: 2em;
    
    input {
      margin-left: -1.5em;
    }
    
    label {
      display: inline-block;
      margin-bottom: 0.5em;
      padding-left: 1em;
      vertical-align: top;
    }
  }
}

/* Views */
.block--views__view {
  .view--footer {
    text-align: right;
    padding-right: $gutter-width;
  }
}

.block--views__headline {
  background-color: $lightest-grey;
  margin-bottom: 1em;
  padding-bottom: $gutter-width / 2;
}

.block--views__breaking-news {
  h2.block--title {
    background-color: $link-blue;
    color: $white;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 2.25em;
    margin-top: 1.15em;
    margin-right: 1.5em;
    padding-left: 0.5em;
    padding-right: 5px;
    position: relative;
    z-index: 2;
    
    &:before {
      content: " ";
      border-color: transparent transparent transparent $link-blue;
      border-style: solid;
      border-width: 18px;
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 1;
    }
  }
  
  .node--simple {
    &:first-child {
      background-color: $light-grey;
      border-top: 1px solid $black;
    }
    
    &:last-child {
      border-bottom: 1px solid $black;
    }
  }
  
  .view--footer {
    border-bottom: 1px solid $black;
  }
}

.block--columnist__related-posts {
  @include span-columns($total-columns);
}

.block--view__movies {
  @include span-columns($total-columns);
  .node--movie {
    @include span-columns($total-columns / 2);
    @include nth-omega(2n);
    
    @include respond-to($small) {
      @include span-columns($total-columns / 4);
      @include remove-nth-omega(2n);
      
      &:last-child {
        @include omega;
      }
    }
  }
}

.block--news__feed {
  ul.links {
    margin: 0;
    padding-left: 0;
  }
  .node--simple {
    list-style: none outside none;
    
    &:last-child {
      border-bottom: 1px solid $black;
      margin-bottom: 0.5em;
    }
  }
  
  .node--title {
    @include respond-to($small) {
      @include span-columns($total-columns - 3);      
      max-height: 23px;
      overflow: hidden;
      padding-right: 0.5em;
    }
  }
  
  .post-date {
    color: $hero-grey;
    
    @include respond-to($small, max-width) {
      display: block;
      text-align: right;
      font-style: italic;
      width: 100%;
    }
    @include respond-to($small) {
      @include span-columns(3);
      @include omega;
       border-left: 1px solid $hero-grey;
       margin-top: 0.5em;
       padding-left: 0.5em;
    }
  }
  
  .pager {
    text-align: right;
  }
}

.block--view__movies--now-playing,
.block--view__movies--coming-soon {
  .view--content {
    @include span-columns($total-columns);
  }
  
  .node--movie {
    @include span-columns($total-columns / 3);
    @include remove-nth-omega(2n);
    @include nth-omega(3n);
  }
}

.block--columnist__recent-articles {
  ul.links {
    list-style: none outside none;
    padding-left: 0;
  }
  
  .node--simple {
    &:last-child {
      border-bottom: 1px solid $black;
    }
  }
  
  .view--footer {
    border-bottom: 1px solid $black;
  }
}