.page--title {
  border-bottom: 3px solid $black;
}

h4.node--title {
  font-size: 1.25em;
}

.node--title {
  margin-top: 0;
}

.block--title {
  border-bottom: 2px solid $black;
}

.sub-heading {
  margin-top: 0.675rem;
}

/** Elements
 *   - Submission Info
 */
.node--submitted {
  font-family: serif;
  .byline {
    font-size: 1.2em;
    font-weight: bold;
  }
  .date {
    font-size: 0.875em;
  }
  
  @include respond-to($medium, max-width) {
    border-color: $hero-grey transparent $black;
    border-style: solid none;
    border-width: 1px 0px;
    padding: 0.25em 0;
    
    .byline,
    .date {
      display: inline-block;
      font-size: 1em
    }
    
    .byline {
      margin-right: 0.5em;
    }
  }
}

/** Pages
 *   - Contact
 */
.form--contact {
  input {
    display: block;
    margin-bottom: 1em;
    padding: 5px 8px;
    width: 100%;
    height: 32px;
  }
  
  textarea {
    padding: 8px;
  }
  
  button {
    margin-left: 156px;
  }
}

/**
 *   - Contact:
 *     + Staff 
 */
.staff--member {
  line-height: 1.3em;
}

.member--company-name {
  margin-bottom: 0;
}

/**
 *   - News:
 *     + News Item - teaser
 */
.l-sub {
  .node--news {
    @include container($total-columns);
    border-bottom: medium none;
    &:first-child {
      /* border-top: 1px solid $black;
      padding-top: $base-line-height * 0.65; */
    }
    
    &:last-child {
      margin-bottom: -3em;
    }
  }
}
.news--full {
  @include respond-to ($medium) {
    border-right: 1px solid $black;
    padding-right: emp($gutter-width) - 1px;
  }
}

.news--teaser {
  border-bottom: 1px solid $black;
  margin-bottom:  $base-line-height;
  padding-bottom: $base-line-height * 0.65;
  
  .node--links {
    text-align: right;
  }
}

.read-more {
  display: inline-block;
  text-align: right;
  padding-right: 2em;
  position: relative;
  
  &:before,
  &:after {
    @include transition(all 300ms ease);
    content: "";
    font-family: "linecons";
    position: absolute;
    width: $base-line-height;
    height: $base-line-height;
  }
  
  &:before {
    @include border-radius(100px);
    background-color: $link-blue;
    top: (pem($base-line-height) - 1em) / 4;
    right: 0;
  }
  
  &:after {
  	content: "\e033";
  	color: $white;
  	right: 0.175em;
	}
	
	&:hover {
  	&:before {
    	background-color: $link-dark-blue;
  	}
  	
  	&:after {
    	color: $lightest-grey;
  	}
	}
}

.node--article {
  font-size: 1rem;
}

/* Node Teaser */
.node--teaser {
  @include container;
  border-bottom: 1px solid $black;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0;
  padding-right: 0;
  
  .node--title {
    @include span-columns($total-columns);
    margin-bottom: 0.5em;
  }
  .node--image {
    display: inline-block;
    float: left;
    width: 50%;
    padding-right: 1.375em;
    vertical-align: bottom;
  }
/*
  .node--image,
  .content {
    @include span-columns($total-columns / 2);
  }
  .content {
    @include omega;
  }
*/
  .submitted {
    font-size: 0.8em;
    font-style: italic;
  }
}

/* Node Simple - just title */
.node--simple {
  @include container;
  border-bottom: 1px solid $black;
  padding-left: 0;
  padding-right: 0;
  
  .node--title {
    margin: 0.5em 0;
  }
  
  &:last-child {
    border-bottom: medium none;
  }
}

/* Node Index */
.node--index {
  .node--title {
    margin: 0.5em 0;
  }
  
  .node--image {
    float: left;
    padding-right: 0.5em;
    width: 68px;
    
    > a {
      display: inline-block;
    }
    
    img {
      @include rwdImage;
    }
  }
  
  .node--content {
    clear: both;
  }
}

/* Node Headline */
.node--headline {
  .node--image {
    @include span-columns($total-columns);
    
    img {
      @include rwdImage;
    }
  }
  
  .node--content {
    padding: 0 $gutter-width;
  }
  
  .node--title {
    margin-bottom: 0;
  }
}

.node--full {
  .node--image {
    @include span-columns($total-columns);
    
    img {
      @include rwdImage;
    }
  }
  
  @include respond-to($medium) {
    .node--content {
      @include span-columns($total-columns - 2);
    }
    
    .node--links {
      @include span-columns(2);
      @include omega;
    }
    
    .node--links ~ .node--content {
      border-right: 1px solid $black;
    }
  }
}

#node--comments {
  @include span-columns(12);
  position: relative;
  
  .block--title {
    margin-bottom: 0;
  }
  
  .block--header {
    text-align: right;
    
    @include respond-to($small) {
      position: absolute;
      right: 0;
      top: 1.65em;
    }
  }
  
  .comment,
  .reply {
    padding-left: 72px;
    
    .user--avatar {
      margin-left: -72px;
    }
  }
  
  .comment {
    border-top: 1px solid $black;
    
    &:first-child {
      border-top: medium none;
    }
  }
  
  .comment--content {
    display: block;
    border-bottom: 1px solid $black;
    
    p {
      margin: 0;
    }
  }
  
  .reply {
    .comment--content {
      border-bottom: 1px solid $med-grey;
    }
    
    .reply {
      background-color: $lightest-grey;
      border-top: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;
      padding-left: 80px;
      
      .user--full-name {
        margin-top: 0;
      }
    }
    
    &:last-child {
      .comment--content {
        border-bottom: medium none;
      }
    }
  }
}

.node--movie__teaser {
  border-bottom: medium none;
  text-align: center;
  
  .movie--poster {
    display: inline-block;
    margin-bottom: 0.5em;
    vertical-align: top;
    width: 100%;
    
    img {
      @include rwdImage;
      vertical-align: bottom;
      max-width: auto;
    }
  }
  
  button {
    width: 100%;
  }
  
  .node--title {
    font-size: 1rem;
    text-align: left;
    margin-top: 0.5em;
  }
}

.node--obituary__teaser,
.node--highlighted__teaser {
  .node--image {
    @include span-columns($total-columns);
    
    img {
      @include rwdImage;
      max-width: auto;
      vertical-align: text-top;
    }
      
    @include respond-to($medium, max-width) {
      margin-bottom: 0.5em;
      padding-right: 0;
    }
  }
  
  .node--content {
    @include span-columns($total-columns);
  }
  
  @include respond-to($small) {
    .node--image {
      @include span-columns($total-columns / 4);
    }
    
    .node--content {
      @include span-columns(($total-columns / 4) * 3);
      @include omega;
    }
  }
  
  .node--title {
    margin-bottom: 0;
  }
  
  .node--submitted {
    margin-bottom: 1em;
    
    @include respond-to($medium, max-width) {
      margin-top: 0.5em;
    }
  }
}

.node--highlighted__teaser {
  &:last-child {
    margin-bottom: 0;
  }
}

.node--athlete__index {
  @include span-columns($total-columns / 3);
  @include nth-omega(3n);
  min-height: 336px;
  max-height: 336px;
  overflow: hidden;
  margin-bottom: 1em;
  
  .athlete--headshot {
    @include rwdImage;
  }
  
  .full-name {
    display: block;
    width: 100%;
  }
  
  @include respond-to($small) {
    @include span-columns($total-columns / 4);
    @include remove-nth-omega(3n);
    @include nth-omega(4n);
  }
}

.node--photo-poll {
  @include span-columns($total-columns);
  border-bottom: 1px solid $black;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  
  &:last-child {
    border-bottom: medium none;
    margin-bottom: 0;
  }
  
  .node--title {
    border-bottom: 1px solid $black;
  }
  
  .question {
    text-align: center;
  }
  
  .responses {
    .node--index {
      @include span-columns($total-columns / 2);
      @include nth-omega(2n);
      
      @include respond-to($small) {
        @include span-columns($total-columns / 4);
        @include remove-nth-omega(2n);
        @include nth-omega;
      }
    }
  }
}

.node--photo-poll__response.node--index {
  margin-bottom: 0.5em;
  
  .node--image {
    width: 100%;
    padding-right: 0;
    float: none;
    
    img {
      @include rwdImage;
    }
  }
  
  .quote {
    font-size: 0.9rem;
  }
  
  .full-name {
    font-weight: bold;
  }
}

/* Submission Info */  
.node--submitted {
  @include span-columns(12);
}

.node--submitted__simple {
  > * {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: normal;
  }
  
  .byline {
    font-size: 1em;
    font-weight: normal;
  }
  
  .terms ul {
    display: inline-block;
    margin: 0;
  }
}

.node--submitted__extra {
  margin-top: 0.5em;
  
  .user--avatar {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin-right: 1em;
    
    img {
      display: inline-block;
      vertical-align: bottom;
    }
  }
  .user--full-name,
  .date {
    line-height: 1.25rem;
  }
  .user--full-name {
    font-size: 1.15em;
  }
  .date {
    font-size: 0.9em;
  }
  
  .user--links {
    margin: 0;
  }
  
  @include respond-to($small, $medium) {
    margin-bottom: 1em;
  }
}

/* User Profiles */
.user--profile {
  .page--title {
    border-bottom: medium none;
    margin-bottom: 0;
  }
  
  .sub--title {
    border-bottom: 3px solid $black;
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
    margin: 0;
  }
}

.user--profile__full {
  @include span-columns($total-columns);
  
  .profile--tabs {
    ul {}
    li {}
    a {
      &:link,
      &:visited {}
      
      &:hover,
      &:focus,
      &.active {}
      
      &:active {}
    }
  }
  .profile--image {
    @include span-columns($total-columns);
    margin-bottom: 0.5em;
    
    img {
      @include rwdImage;
      vertical-align: top;
    }
    
    @include respond-to($small) {
      @include span-columns($total-columns / 4);
      margin-bottom: 0;
    }
  }
  .profile--content {
    @include span-columns($total-columns);
    
    p:first-child {
      margin-top: 0;
    }
    
    @include respond-to($small) {
      @include span-columns(($total-columns / 4) * 3);
      @include omega;
    }
  }
}