.vcard {
  line-height: 1.2em;
  
  .name {
    margin-bottom: 0;
    @include respond-to($medium, max-width) {
      margin-top: 0;
    }
  }
  
  .directions {
    display: block;
    clear: both;
  }
  
  .telephone {
    margin-top: 1em;
  }
  
  label {
    clear: both;
    display: block;
    font-weight: bold;
  }
  
  @include respond-to($small, $medium) {
    display: inline-block;
    @include span-columns($total-columns / 2, $total-columns);
    
    &:nth-child(2n + 2) {
      @include omega;
    }
  }
}