<div class="block block--views__view block--news__feed">
  <h2 class="block--title hidden"></h2>
  <div class="block--content">
    <ul class="menu links">
      <li class="node--news node--simple node--news__simple">
        <h5 class="node--title"><a href="#/newspaper/news_breaking-story" ph-txt sentences="1"></a></h5><span class="post-date time-ago">12 minutes ago</span>
      </li>
      <li class="node--news node--simple node--news__simple">
        <h5 class="node--title"><a href="#/newspaper/news_breaking-story" ph-txt sentences="1"></a></h5><span class="post-date time-ago">48 minutes ago</span>
      </li>
      <li class="node--news node--simple node--news__simple">
        <h5 class="node--title"><a href="#/newspaper/news_breaking-story" ph-txt sentences="1"></a></h5><span class="post-date time-ago">1 hour ago</span>
      </li>
      <li class="node--news node--simple node--news__simple">
        <h5 class="node--title"><a href="#/newspaper/news_breaking-story" ph-txt sentences="1"></a></h5><span class="post-date time-ago">6 hours ago</span>
      </li>
      <li class="node--news node--simple node--news__simple">
        <h5 class="node--title"><a href="#/newspaper/news_breaking-story" ph-txt sentences="1"></a></h5><span class="post-date time-ago">Sep 15</span>
      </li>
      <li class="node--news node--simple node--news__simple">
        <h5 class="node--title"><a href="#/newspaper/news_breaking-story" ph-txt sentences="1"></a></h5><span class="post-date time-ago">Sep 12</span>
      </li>
    </ul>
  </div>
  <ui file="pager"></ui>
</div>