<div class="block block--breaking-news">
  <h2 class="block--title">Breaking News</h2>
  <div class="block--content">
    <article class="node--simple">
      <h4 class="node--title" ph-txt sentences="1"></h4>
      <h4 class="node--title" ph-txt sentences="1"></h4>
      <h4 class="node--title" ph-txt sentences="1"></h4>
      <h4 class="node--title" ph-txt sentences="1"></h4>
    </article>
    <div class="view--footer">
      <ul class="links inline">
        <li><a href="" class="read-more"></a></li>
      </ul>
    </div>
  </div>
</div>