<article class="node--columnist node--preview">
  <h2 class="columnist--full-name"><a href="#/newspaper/opinoin_columnist-bio" ph-txt="" words="2"></a></h2>
  <div class="columnist--bio">
    <img src="" alt="" ph-img="140x140" />
    <h3 class="columnsist--bio__title"><a href="#/newspaper/opinoin_columnist-bio" ph-txt="" words="9"></a></h3>
    <ui file="posted"></ui>
    <p ph-txt="" sentences="3"></p>
  </div>
  <div class="columnist--recent-posts">
    <ul>
      <li><a href="" ph-txt sentences="1"></a></li>
      <li><a href="" ph-txt sentences="1"></a></li>
      <li><a href="" ph-txt sentences="1"></a></li>
    </ul>
  </div>
</article>