<div class="block block--views__view block--columnist__related-posts">
  <h2 class="block--title">More from The Masthead</h2>
  <div class="block--content">
    <ul>
      <li><a href="#/newspaper/news_breaking-story" ph-txt words="8"></a></li>
      <li><a href="#/newspaper/news_breaking-story" ph-txt words="8"></a></li>
      <li><a href="#/newspaper/news_breaking-story" ph-txt words="8"></a></li>
      <li><a href="#/newspaper/news_breaking-story" ph-txt words="8"></a></li>
      <li><a href="#/newspaper/news_breaking-story" ph-txt words="8"></a></li>
      <li><a href="#/newspaper/news_breaking-story" ph-txt words="8"></a></li>
    </ul>
  </div>
</div>