<div class="block block--views__view block--columnist__recent-articles">
  <h2 class="block--title">John Hancock's Recent Articles</h2>
  <div class="block--content">
    <div class="view--content">
      <ul class="links menu">
        <li class="node--article node--simple node--article__simple">
          <h5 class="node--title"><a href="#/newspaper/news_breaking-story" ph-txt words="8"></a></h5>
        </li>
        <li class="node--article node--simple node--article__simple">
          <h5 class="node--title"><a href="#/newspaper/news_breaking-story" ph-txt words="8"></a></h5>
        </li>
        <li class="node--article node--simple node--article__simple">
          <h5 class="node--title"><a href="#/newspaper/news_breaking-story" ph-txt words="8"></a></h5>
        </li>
      </ul>
    </div>
    <div class="view--footer">
      <ul class="links inline">
        <li>
          <a href="" class="read-more">View More</a>
        </li>
      </ul>
    </div>
  </div>
</div>