<div class="node--article node--index node--merchant__index">
  <span class="node--image"><a href="#/newspaper/news_breaking-story"><img ph-img="80x80" text="-" bg-color="rgb(77,77,77)" /></a></span>
  <div class="content">
    <h5 class="node--title"><a href="#/newspaper/life-arts_merchant-profile" ph-txt words="3"></a></h5>
    <div class="node--content">
      <div class="merchant--address">
        <div class="street">12345 Restaurant Address</div>
        <div class="locality">
          <span class="city">Anytown</span>,&nbsp;
          <span class="state">IL</span>&nbsp;
          <span class="zip">60606</span>
        </div>
        <div class="phone">p. 708.323.3933</div>
      </div>
    </div>
  </div>
</div>