<div class="merchant--gallery">
  <div class="image-gallery">
    <div class="main">
      <img ph-img="600x380" text="Gallery Image" />
    </div>
    <div class="thumbnail-nav">
      <ul class="menu links inline no-style">
        <li><a href=""><img ph-img="60x60" text="-" /></a></li>
        <li><a href=""><img ph-img="60x60" text="-" /></a></li>
        <li><a href=""><img ph-img="60x60" text="-" /></a></li>
        <li><a href=""><img ph-img="60x60" text="-" /></a></li>
        <li><a href=""><img ph-img="60x60" text="-" /></a></li>
        <li><a href=""><img ph-img="60x60" text="-" /></a></li>
        <li><a href=""><img ph-img="60x60" text="-" /></a></li>
        <li><a href=""><img ph-img="60x60" text="-" /></a></li>
        <li><a href=""><img ph-img="60x60" text="-" /></a></li>
      </ul>
    </div>
  </div>
</div>