<div class="block--merchant__more-info">
  <h2 class="block--title">More Information</h2>
  <div class="block--content">
    <ul class="no-style">
      <li><label>Parking:</label> Valet, Street</li>
      <li><label>Accepts Credit Cards:</label> Yes</li>
      <li><label>Price Range:</label> $$$</li>
      <li><label>Attire:</label> Dressy</li>
      <li><label>Good for Groups:</label> Yes</li>
      <li><label>Good for Kids:</label> No</li>
    </ul>
    <ul class="no-style">
      <li><label>Takes Reservations:</label> Yes</li>
      <li><label>Delivery:</label> No</li>
      <li><label>Take Out:</label> No</li>
      <li><label>Waiter Service:</label> Yes</li>
      <li><label>Outdoor Seating:</label> No</li>
      <li><label>WiFi</label> No</li>
    </ul>
    <ul class="no-style">
      <li><label>Good For:</label> Dinner</li>
      <li><label>Alcohol:</label> Full Bar</li>
      <li><label>Noise Level:</label> Average</li>
      <li><label>Ambience:</label> Classy</li>
      <li><label>Has TV:</label> No</li>
      <li><label>Caters:</label> No</li>
    </ul>
  </div>
</div>