<div class="block block--menu--sidebar block--merchant-dir">
  <ul class="sidebar--menu links">
    <li><a href="">Frankfort</a></li>
    <li>
      <a class="active-trail" href="">Homer Glen</a>
      <ul>
        <li><a href="">Arts &amp; Entertainment</a></li>
        <li><a href="">Auto Services</a></li>
        <li><a href="">Education</a></li>
        <li><a href="">Events Services</a></li>
        <li><a href="">Financial Services</a></li>
        <li><a href="">Health &amp; Beauty</a></li>
        <li><a href="">Home Services</a></li>
        <li><a href="">Hotels &amp; Travel</a></li>
        <li><a href="">Pet Services</a></li>
        <li><a href="">Professional Services</a></li>
        <li><a href="">Public Services &amp; Government</a></li>
        <li><a href="">Real Estate</a></li>
        <li><a href="">Religious Organizations</a></li>
        <li>
          <a class="active" href="">Restaurants &amp; Bars</a>
        </li>
        <li><a href="">Retail</a></li>
      </ul>
    </li>
    <li><a href="">Lockport</a></li>
    <li><a href="">Mokena</a></li>
    <li><a href="">New Lenox</a></li>
    <li><a href="">Orland Park</a></li>
    <li><a href="">Tinley Park</a></li>
  </ul>
</div>