<div class="block block--merchant-dir__terms">
  <div class="block--title hidden"></div>
  <div class="block--content">
    <label for="terms">Select a section:&nbsp;</label>
    <select name="terms">
      <option value="arts">Arts &amp; Entertainment</option>
      <option value="auto">Auto Services</option>
      <option value="edu">Education</option>
      <option value="events">Events Services</option>
      <option value="financial">Financial Services</option>
      <option value="health">Health &amp; Beauty</option>
      <option value="home">Home Services</option>
      <option value="travel">Hotels &amp; Travel</option>
      <option value="pet">Pet Services</option>
      <option value="pro">Professional Services</option>
      <option value="public">Public Services &amp; Government</option>
      <option value="real-estate">Real Estate</option>
      <option value="religious">Religious Organizations</option>
      <option value="restaurants" selected>Restaurants &amp; Bars</option>
      <option value="retail">Retail</option>
    </select></div>
</div>