<div class="block block--views__view block--athletes__past-winnners">
  <h2 class="block--title">Past Winners</h2>
  <div class="block--content">
    <ul class="winners">
      <li>
        <div class="winner">
          <span class="date">6/2013</span>
          <span class="full-name">Amanda Ruskowsky</span>
          <span class="school">Lincoln-Way West High School</span>
        </div>
      </li>
      <li>
        <div class="winner">
          <span class="date">6/2013</span>
          <span class="full-name">Amanda Ruskowsky</span>
          <span class="school">Lincoln-Way West High School</span>
        </div>
      </li>
      <li>
        <div class="winner">
          <span class="date">6/2013</span>
          <span class="full-name">Amanda Ruskowsky</span>
          <span class="school">Lincoln-Way West High School</span>
        </div>
      </li>
      <li>
        <div class="winner">
          <span class="date">6/2013</span>
          <span class="full-name">Amanda Ruskowsky</span>
          <span class="school">Lincoln-Way West High School</span>
        </div>
      </li>
      <li>
        <div class="winner">
          <span class="date">6/2013</span>
          <span class="full-name">Amanda Ruskowsky</span>
          <span class="school">Lincoln-Way West High School</span>
        </div>
      </li>
    </ul>
  </div>
</div>