<article class="node--photo-poll node--preview">
  <h3 class="node--title">Week of August 29<sup>th</sup>, 2013</h3>
  <div class="node--content">
    <div class="description" ph-txt paragraphs="1"></div>
    <h1 class="question">"What are your Labor Day weekend plans?"</h1>
    <div class="responses">
      <partial file="newspaper/components/photo-poll_response"></partial>
      <partial file="newspaper/components/photo-poll_response"></partial>
      <partial file="newspaper/components/photo-poll_response"></partial>
      <partial file="newspaper/components/photo-poll_response"></partial>
    </div>
  </div>
<!--
  <div class="node--links">
    <ul class="links inline">
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </div>
-->
</article>