<div id="node--comments" class="block block--node__comments node--comments__columnist">
  <h2 class="block--title">Comments</h2>
  <div class="block--header">
    <span class="register"><a>Sign In</a> to join the discussion. Don't have an account? <button class="button--action">Subscribe</button></span>
  </div>
  <div class="block--content">
    <div class="comment">
      <div class="comment--content">
        <ui file="submitted-info"></ui>
        <div class="message" ph-txt paragraphs="1"></div>
      </div>
      <div class="reply">
        <ui file="submitted-info"></ui>
        <div class="message"><p ph-txt sentences="1"></p></div>
      </div>
    </div>
    <div class="comment">
        <div class="comment--content">
          <ui file="submitted-info"></ui>
          <div class="message" ph-txt sentences="2"></div>
        </div>
      <div class="reply">
        <ui file="submitted-info"></ui>
        <div class="message"><p ph-txt sentences="1"></p></div
      </div>
      <div class="reply">
        <ui file="submitted-info"></ui>
        <div class="message"><p ph-txt sentences="1"></p></div
      </div>
    </div>
  </div>
</div>