<footer>
  <div class="block block--menu block--menu__sections footer--menu footer--menu__sections">
    <h2 class="block--title">Sections</h2>
    <ul id="tallestMenu" class="links clearfix">
      <li id="tallestlist">
        <a href="#/newspaper/news">News</a>
        <ul class="dropdown">
          <li><a href="#/newspaper/news_breaking">Breaking</a></li>
          <li><a href="#/newspaper/news_police">Police</a></li>
          <li><a href="#/newspaper/news_village">Village</a></li>
          <li><a href="#/newspaper/news_school">School</a></li>
          <li><a href="#/newspaper/news_obits">Obituaries</a></li>
        </ul>
      </li>
      <li cssequalheight="tallestlist">
        <a href="#/newspaper/opinion">Opinion</a>
        <ul class="dropdown">
          <li><a href="#/newspaper/opinion_editor">From the Editor</a></li>
          <li><a href="#/newspaper/opinion_columnist">Contributing Columnists</a></li>
          <li><a href="#/newspaper/opinion_letters">Letters to the Editor</a></li>
          <li><a href="#/newspaper/opinion_photo-poll">Photo Poll</a></li>
        </ul>
      </li>
      <li cssequalheight="tallestlist">
        <a href="#/newspaper/marketplace">Marketplace</a>
        <ul class="dropdown">
          <li><a href="#/newspaper/marketlace_classifieds">Classifieds</a></li>
          <li><a href="#/newspaper/marketplace_real-estate">Real Estate</a></li>
        </ul>
      </li>
      <li cssequalheight="tallestlist">
        <a href="#/newspaper/sports">Sports</a>
        <ul class="dropdown">
          <li><a href="#/newspaper/sports_high-school">High School</a></li>
          <li><a href="#/newspaper/sports_youth">Youth</a></li>
          <li><a href="#/newspaper/sports_aotw">Athlete of the Week</a></li>
          <li><a href="#/newspaper/sports_aotm">Athlete of the Month</a></li>
        </ul>
      </li>
      <li cssequalheight="tallestlist">
        <a href="#/newspaper/life-arts">Life &amp; Arts</a>
        <ul class="dropdown">
          <li><a href="#/newspaper/life-arts_dining">Dining Out</a></li>
          <li><a href="#/newspaper/life-arts_movies">Movie Times</a></li>
        </ul>
      </li>
      <li cssequalheight="tallestlist">
        <a href="#/newspaper/hometown">Hometown Advantage</a>
        <ul>
          <li><a href="#/newspaper/hometown_benefits">Member Benefits</a></li>
          <li><a href="#/newspaper/hometown_subscribe">Subscribe</a></li>
          <li><a href="#/newspaper/hometown_dig-paper">Digital Paper</a></li>
          <li><a href="#/newspaper/hometown_special">Special Sections</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="block block--menu block--menu__publications footer--menu footer--menu__publications">
    <h2 class="block--title">Publications</h2>
    <ul class="links clearfix" cssequalheight="tallestMenu">
      <li>
        <a href="">Southwest Suburbs</a>
        <ul>
          <li><a ph-txt words="3" href=""></a></li>
          <li><a ph-txt words="3" href=""></a></li>
          <li><a ph-txt words="3" href=""></a></li>
          <li><a ph-txt words="3" href=""></a></li>
          <li><a ph-txt words="3" href=""></a></li>
          <li><a ph-txt words="3" href=""></a></li>
          <li><a ph-txt words="3" href=""></a></li>
        </ul>
      </li>
      <li>
        <a href="">North Shore Suburbs</a>
        <ul>
          <li><a ph-txt words="3" href=""></a></li>
          <li><a ph-txt words="3" href=""></a></li>
          <li><a ph-txt words="3" href=""></a></li>
          <li><a ph-txt words="3" href=""></a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="block block--menu block--menu__company footer--menu footer--menu__company">
    <h2 class="block--title">Company</h2>
    <ul class="links clearfix" cssequalheight="tallestMenu">
      <li>
        <a href="">22nd Century Media</a>
        <ul>
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Advertise with Us</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Terms of Use</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Code of Conduct</a></li>
        </ul>
      </li>
    </ul>
  </div>
<!--
  <script type="text/javascript">
  		new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
  </script>
-->
</footer>