<header>
  <div class="sticky">
    <nav class="global">
      <ul class="menu links inline">
        <li>
          <a href="">22 CM</a>
          <ul class="dropdown">
            <li><a href="">Our Publications</a></li>
          </ul>
        </li>
        <li>
          <a href="">About Us</a>
          <ul class="dropdown">
            <li><a href="#/newspaper/about_masthead">About the Masthead</a></li>
            <li><a href="#/newspaper/about_22cm">About 22nd Century Media</a></li>
            <li><a href="#/corp/contact">Contact Us</a></li>
            <li><a href="#/corp/advertise">Advertise With Us</a></li>
            <li><a href="#/newspaper/about_careers">Careers</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <nav class="user">
      <ul class="menu links inline">
        <li>
          <a href=""><i class="icon icon-user"/></a>
          <ul>
            <li><a href="">Sign In</a></li>
            <li><a href="">Sign Up</a></li>
          </ul>
        </li>
        <li><a href="">Subscribe</a></li>
      </ul>
    </nav>
  </div>
  <div id="branding">
    <h1 class="site-name"><a href="#">The Masthead</a></h1>
  </div>
  <div id="weather">
    <div class="temp">73<span class="scale">F</span></div>
    <div class="icon"><i class="icon icon-world"></i></div>
    <div class="date">
      <span class="day">Tuesday</span>,&nbsp;
      <span class="month">July</span>&nbsp;
      <span class="date">2</span>,&nbsp;
      <span class="year">2013</span>
    </div>
  </div>
</header>