<nav id="primary-nav" role="custom-dropdown" data-show="desktop">
  <input type="checkbox" id="toggle-button">
  <label for="toggle-button" onclick>Navigation</label>
  <ul class="menu--main-menu menu links inline">
    <li class="menu-item dropdown">
      <input type="checkbox" />
      <a active-link="active" active-trail="#/newspaper/news_breaking-story" active-trail="#/newspaper/news_obits" data-toggle="dropdown" href="#/newspaper/news">News</a>
      <ul class="menu--main-menu_sub dropdown-menu">
        <li><a active-link="active" href="#/newspaper/news_breaking-story">Breaking</a></li>
        <li><a href="#/newspaper/news_police">Police</a></li>
        <li><a href="#/newspaper/news_village">Village</a></li>
        <li><a href="#/newspaper/news_school">School</a></li>
        <li><a active-link="active" href="#/newspaper/news_obits">Obituaries</a></li>
      </ul>
    </li>
    <li class="menu-item dropdown">
      <input type="checkbox" />
      <a active-link="active" data-toggle="dropdown" href="#/newspaper/sports">Sports</a>
      <ul class="menu--main-menu_sub dropdown-menu">
        <li><a href="#/newspaper/sports_high-school">High School</a></li>
        <li><a href="#/newspaper/sports_youth">Youth</a></li>
        <li><a href="#/newspaper/sports_aotw">Athlete of the Week</a></li>
        <li><a href="#/newspaper/sports_aotm">Athlete of the Month</a></li>
      </ul>
    </li>
    <li class="menu-item dropdown">
      <input type="checkbox" />
      <a active-link="active" data-toggle="dropdown" href="#/newspaper/opinion">Opinion</a>
      <ul class="menu--main-menu_sub dropdown-menu">
        <li><a href="#/newspaper/opinion_editor">From the Editor</a></li>
        <li><a href="#/newspaper/opinion_columnist">Contributing Columnists</a></li>
        <li><a href="#/newspaper/opinion_letters">Letters to the Editor</a></li>
        <li><a href="#/newspaper/opinion_photo-poll">Photo Poll</a></li>
      </ul>
    </li>
    <li class="menu-item dropdown">
      <input type="checkbox" />
      <a active-link="active" data-toggle="dropdown" href="#/newspaper/life-arts">Life &amp; Arts</a>
      <ul class="menu--main-menu_sub dropdown-menu">
        <li><a href="#/newspaper/life-arts_dining">Classifieds</a></li>
        <li><a href="#/newspaper/life-arts_movies">Real Estate</a></li>
        <li><a href="#/newspaper/life-arts_merchant-dir">Merchant Directory</a></li>
      </ul>
    </li>
    <li class="menu-item dropdown">
      <input type="checkbox" />
      <a active-link="active" data-toggle="dropdown" href="#/newspaper/marketplace">Marketplace</a>
    </li>
    <li class="menu-item dropdown">
      <input type="checkbox" />
      <a active-link="active" data-toggle="dropdown" href="#/newspaper/hometown">Hometown Advantage</a>
      <ul class="menu--main-menu_sub dropdown-menu">
        <li><a href="#/newspaper/hometown_benefits">Member Benefits</a></li>
        <li><a href="#/newspaper/hometown_subscribe">Subscribe</a></li>
        <li><a href="#/newspaper/hometown_dig-paper">Digital Paper</a></li>
        <li><a href="#/newspaper/hometown_special">Special Sections</a></li>
      </ul>
    </li>
  </ul>
</nav>