<div class="topbar">
  <nav class="global">
    <ul class="menu links inline">
      <li data-show="desktop">
        <a onclick="$('~ ul.dropdown', this).slideToggle('fast'); $(this).parent('li').toggleClass('active open');" href="">22 CM</a>
        <ul class="dropdown">
          <li><a href="">Our Publications</a></li>
        </ul>
      </li>
      <li data-show="desktop">
        <a onclick="$('~ ul.dropdown', this).slideToggle('fast'); $(this).parent('li').toggleClass('active open');" href="">About Us</a>
        <ul class="dropdown">
          <li><a href="#/newspaper/about_masthead">About the Masthead</a></li>
          <li><a href="#/newspaper/about_22cm">About 22nd Century Media</a></li>
          <li><a href="#/corp/contact">Contact Us</a></li>
          <li><a href="#/corp/advertise">Advertise With Us</a></li>
          <li><a href="#/newspaper/about_careers">Careers</a></li>
        </ul>
      </li>
      <li class="user--login" data-hide="desktop">
        <a onclick="$('~ ul.dropdown', this).slideToggle('fast'); $(this).parent('li').toggleClass('active open');" href=""><i class="icon theme-icon-user"/></a>
        <ul class="user--authenticate dropdown">
          <li><button class="button--action" href="" onclick="$('ul.user--authenticate, .user--actions, nav.user li.user--login, li.user--subscribe, li.user--welcome').toggleClass('hidden');">Sign In</button></li>
          <li><button class="button--action" href="">Subscribe</button></li>
        </ul>
        <ul class="user--actions dropdown hidden">
          <li class="welcome">
            <div class="message">You are signed in as</div>
            <div class="username">Johnnie Knoxville</div>
            <li class="signout">
              <button class="button--action" href="" onclick="$('ul.user--authenticate, .user--actions, nav.user li.user--login, li.user--subscribe, li.user--welcome').toggleClass('hidden');">Signout</button>
            </li>
            <li class="settings">
              <a class="user--settings" href=""><i class="icon theme-icon-settings" />Settings</a>
            </li>
          </li>
        </ul>
      </li>
      <li class="breaking-news" data-show="mobile">
        <a onclick="$('~ ul.dropdown', this).slideToggle('fast'); $(this).parent('li').toggleClass('active open');" class="active-icon" href=""><i class="icon theme-icon-news"/></a>
        <ul class="dropdown">
          <li>
            <partial file="newspaper/components/breaking-news_single--topbar"></partial>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <nav class="user">
    <ul class="menu links inline">
      <li class="user--login" data-show="desktop"><a href="" onclick="$('ul.user--authenticate, .user--actions, nav.user li.user--login, li.user--subscribe, li.user--welcome').toggleClass('hidden');"><i class="icon theme-icon-user"/> Sign In</a></li>
      <li class="user--subscribe" data-show="desktop"><button class="button--action" href="">Subscribe</button></li>
      <li class="user--welcome hidden" data-show="desktop">
        <span class="message">You are signed in as <span class="username">Johnnie Knoxville</span></span>
        <ul class="user--actions hidden">
          <li class="signout">
            <button class="button--action" href="" onclick="$('ul.user--authenticate, .user--actions, nav.user li.user--login, li.user--subscribe, li.user--welcome').toggleClass('hidden');"">Signout</button>
          </li>
          <li class="settings">
            <a class="user--settings" href=""><i class="icon theme-icon-settings" />Settings</a>
          </li>
        </ul>
      </li>
      <li class="mobile--menu--search" data-hide="desktop">
        <a onclick="$('~ ul.dropdown', this).slideToggle('fast'); $(this).parent('li').toggleClass('active open');" href=""><i class="icon theme-icon-search"/></a>
        <ul class="dropdown">
          <li>
            <partial file="newspaper/site/search"></partial>
          </li>
        </ul>
      </li>
      <li class="mobile--menu--main-menu" data-hide="desktop">
        <a onclick="jQuery('~ #primary-nav #toggle-button', this).trigger('click'); $(this).parent('li').toggleClass('active open');" href=""><i class="icon theme-icon-menu"/></a>
        <nav id="primary-nav" role="custom-dropdown">
          <input type="checkbox" id="toggle-button">
          <ul class="menu--main-menu menu links inline">
            <li class="menu-item dropdown">
              <input type="checkbox" />
              <a active-link="active" active-trail="#/newspaper/news_breaking-story" active-trail="#/newspaper/news_obits" data-toggle="dropdown" href="#/newspaper/news">News</a>
              <ul class="menu--main-menu_sub dropdown-menu">
                <li><a active-link="active" href="#/newspaper/news_breaking-story">Breaking</a></li>
                <li><a href="#/newspaper/news_police">Police</a></li>
                <li><a href="#/newspaper/news_village">Village</a></li>
                <li><a href="#/newspaper/news_school">School</a></li>
                <li><a active-link="active" href="#/newspaper/news_obits">Obituaries</a></li>
              </ul>
            </li>
            <li class="menu-item dropdown">
              <input type="checkbox" />
              <a active-link="active" data-toggle="dropdown" href="#/newspaper/sports">Sports</a>
              <ul class="menu--main-menu_sub dropdown-menu">
                <li><a href="#/newspaper/sports_high-school">High School</a></li>
                <li><a href="#/newspaper/sports_youth">Youth</a></li>
                <li><a href="#/newspaper/sports_aotw">Athlete of the Week</a></li>
                <li><a href="#/newspaper/sports_aotm">Athlete of the Month</a></li>
              </ul>
            </li>
            <li class="menu-item dropdown">
              <input type="checkbox" />
              <a active-link="active" data-toggle="dropdown" href="#/newspaper/opinion">Opinion</a>
              <ul class="menu--main-menu_sub dropdown-menu">
                <li><a href="#/newspaper/opinion_editor">From the Editor</a></li>
                <li><a href="#/newspaper/opinion_columnist">Contributing Columnists</a></li>
                <li><a href="#/newspaper/opinion_letters">Letters to the Editor</a></li>
                <li><a href="#/newspaper/opinion_photo-poll">Photo Poll</a></li>
              </ul>
            </li>
            <li class="menu-item dropdown">
              <input type="checkbox" />
              <a active-link="active" data-toggle="dropdown" href="#/newspaper/life-arts">Life &amp; Arts</a>
              <ul class="menu--main-menu_sub dropdown-menu">
                <li><a href="#/newspaper/life-arts_dining">Dining Out</a></li>
                <li><a href="#/newspaper/life-arts_movies">Movie Times</a></li>
              </ul>
            </li>
            <li class="menu-item dropdown">
              <input type="checkbox" />
              <a active-link="active" data-toggle="dropdown" href="#/newspaper/marketplace">Marketplace</a>
              <ul class="menu--main-menu_sub dropdown-menu">
                <li><a href="#/newspaper/marketlace_classifieds">Classifieds</a></li>
                <li><a href="#/newspaper/marketplace_real-estate">Real Estate</a></li>
              </ul>
            </li>
            <li class="menu-item dropdown">
              <input type="checkbox" />
              <a active-link="active" data-toggle="dropdown" href="#/newspaper/hometown">Hometown Advantage</a>
              <ul class="menu--main-menu_sub dropdown-menu">
                <li><a href="#/newspaper/hometown_benefits">Member Benefits</a></li>
                <li><a href="#/newspaper/hometown_subscribe">Subscribe</a></li>
                <li><a href="#/newspaper/hometown_dig-paper">Digital Paper</a></li>
                <li><a href="#/newspaper/hometown_special">Special Sections</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </li>
    </ul>
  </nav>
</div>