.corporate {
  #branding {
    padding: 1em 0;
  }
  
  .branding--logo {
    text-align: center;
    
    img {
      display: inline-block;
      margin: 0 auto;
    }
  }
}

#site-name {}

.branding--site-name {
  display: none;
}

[role="newspaper"] {
  #branding {
    @include span-columns($total-columns);
    text-align: left;
    
    @include respond-to($medium) {
      @include span-columns($total-columns - 3);
    }
  }
}