.w-footer {
  color: $white;
  font-weight: 300;
  margin-top: 3em;
}

.block--menu__footer,
.block--copyright {
  @include span-columns($total-columns / 2);
  @include respond-to($medium, max-width) {
    @include span-columns($total-columns);
    text-align: center !important;
  }
}

.block--menu__footer {
  a {
    display: inline-block;
  }
  
  li {
    border-right: 1px solid $white;
    padding: 0 1.3em;
    
    &:first-child {
      padding-left: 0;
    }
    
    &:last-child {
      border-right: medium none;
      padding-right: 0;
    }
  }
  
  ul {
    padding: 0.375em 0;
  }
}

.block--copyright {
  @include omega;
  font-size: 0.625rem;
  text-align: right;
  
  > p {
    line-height: $base-line-height * $header-line-height;
    padding: 1em 0;
  }
}

.block--menu__sections {
  padding-top: 1em;
  
  .links {
    > li {
      @include span-columns(1, 2);
      @include nth-omega(2n);
      margin-bottom: 1.5em;
    }
    
    @include respond-to($small) {
      > li {
        @include span-columns(4, 12);
        @include remove-nth-omega(2n);
        margin-bottom: 1.5em;
        
/*
        &:first-child,
        &:nth-child(4n) {
          @include span-columns(3, 12);
          @include post(1, 12);
        }
*/
        
        &:nth-child(3n + 3) {
          @include omega;
        }
      }
    }
  }
  
  @include respond-to($small) {
    @include span-columns(12);
    padding-top: 0;
  }
  
  @include respond-to($medium) {
    @include span-columns(6);
    
    .links {
      border-right: 1px solid $black;
    }
  }
}

.block--menu__publications {
  
  .links {
    > li {
      @include span-columns(1, 2);
      
      &:last-child {
        @include omega;
      }
    }
  }
  
  @include respond-to($small, $medium) {
    @include span-columns(8);

    .links {
      border-right: 1px solid $black;
      
      > li {
        @include span-columns(1, 2);
      }
    }
  }
  
  @include respond-to($medium) {
    @include span-columns(4);
    
    .links {
      border-right: 1px solid $black;
    }
  }
}

.block--menu__company {
  @include respond-to($small) {
    @include span-columns(4, 12);
    @include omega;
  }
  @include respond-to($medium) {
    @include span-columns(2);
  }
}

.corporate {
  .w-footer {
    background-color: $med-grey;
  }

  .l-footer {
    a {
      color: $white;
    }
  }
}

.newspaper {
  font-family: serif;
  
  .w-footer {
    background-color: $middle-grey;
  }
  
  .l-footer {  
    .block--menu {
      margin-top: 1em;
      margin-bottom: 1em;
  
      ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
      }
      
      .links {
        > li {
          > a {
            color: $black;
            font-weight: 600;
          }
        }
        ul {
          font-size: 0.9em;
        }
      }
      
      @include respond-to($medium) {
        &:last-child {
          @include omega;
        }
      }
      
      @include respond-to($small, max-width) {
        border-bottom: 1px solid $black;
        padding-bottom: 1em;
        
        .block--title {
          border-bottom: 2px solid $black;
        }
        
        ul {
          height: auto !important;
        }
        
        &:last-child {
          border-bottom: medium none;
          padding-bottom: 0;
        }
      }
    }
  }
}