.dropdown {
  @include respond-to($medium, max-width) {
    position: relative;
  
  	[data-toggle="dropdown"] {
  		display: block;
  		padding: 10px;
      
      &:before {
  			position: absolute;
  			display: block;
        content: '\25BC';
  			font-size: 0.7em;
  			top: 1em;
  			right: 10px;
  		}
  	}
  
  	> .dropdown-menu {
  		max-height: 0;
  		overflow: hidden;
  
  		li {
  			padding: 0;
  
  			a {
  				display: block;
  				padding: 10px 10px;
  			}
  		}
  	}
    
    > input[type="checkbox"] {
      opacity: 0;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 15%;
      min-width: 32px;
      height: 100%;
      cursor: pointer;
      z-index: 1;
      
      &:checked ~ .dropdown-menu {
        max-height: 9999px;
  			display: block;
      }
    }
  }
  
  @include respond-to($medium) {
    > input[type="checkbox"] {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }
}

/*
.w-highlighted {
  background-color: lighten($med-grey, 30%);
}
*/

#primary-nav {
  background-color: lighten($med-grey, 30%);
  
  @include respond-to($medium, max-width) {
    > ul {
      > li {
        display: block;
        position: relative;
    		> a {
      		display: block;
      		padding: 10px;
    		}
      }
    }
  }
  
  @include respond-to($small, $medium) {
    > ul {
      font-size: 0;
      > li {
        display: inline-block;
        width: 50%;
        font-size: 1rem;
/*
        @include span-columns(6, 12);
        
        &:nth-child(2n + 2) {
          @include omega;
        }
*/
      }
    }
  }
  
  @include respond-to($medium) {
    > ul {
      display: table;
      width: 100%;
      table-layout: fixed;
      position: relative;
      
      > li {
        display: table-cell;
        text-align: center;
        
        &:hover {
          ul {
            display: block;
            visibility: visible;
            z-index: 5;
          }
        }
        
        ul {
          text-align: left;
          background-color: $med-grey;
          width: 100%;
          
          li {
            display: inline-block;
            
            a:link,
            a:visited {
              padding: 0.25em 1em;
            }
          }
        }
      }
    }
  }
  
/*
  a {
    &:link,
    &:visited {
      color: $black;
      display: block;
      font-weight: normal;
      padding: 0.5em 0.75em;
    }
  
    &.active,
    &.active-trail,
    &:hover,
    &:focus {
      background-color: $med-grey;
      color: $white;
    }
  
    &.active,
    &.active-trail {
      + ul {
        display: block;
        visibility: visible;
        z-index: 1;
      
        a.active,
        a.active-trail {
          background-color: $white;
          color: $black;
          font-weight: bold;
        }
      }
    }
  }
*/
  
  ul {
    @include ul-nostyle;
  }
}

.corp {
  #primary-nav {    
    @include respond-to($medium) {
      > ul {
        > li {
          &:last-child {
            ul {
              text-align: right;
            }
          }
        }
      }
    }
  }
}

/* Advanced Checkbox Hack */
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from { padding:0; }
  to { padding:0; }
}

nav[role="custom-dropdown"] {
  input#toggle-button[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  label[for="toggle-button"] { 
    display:none;
    cursor: pointer;
    user-select:none;
  }
}

/* custom-dropdown */
nav#primary-nav[role="custom-dropdown"] {
  position:relative;
  width: 100%;
  margin-bottom: 1em;
  
  label {
    @include transition(color .3s ease-in-out);
    color: $white;
  }
    
  ul {
    padding: 0;
    margin: 0 auto;
    width:100%;
    list-style:none;
  }
  
  @include respond-to($medium, max-width) {
    > ul {
      display:none;
      height:100%;
    }
  
    label[for="toggle-button"] {
      position:relative;
      display:block;
      width:100%;
      min-height:2.25em;
      padding:.45em;
      font-size:1.1em;
      margin:0;
      
      &:after {
        position: absolute;
        right: .25em;  
        top: 0; 
        content:"\2261";
        font-size:3.5rem;
        font-weight: 300;
        line-height: 3rem;
        text-align: center;
        min-width: 40px;
        margin-top: -0.1em;
      }
    }
        
    input#toggle-button[type=checkbox]:checked ~ label[for="toggle-button"] {
      color:darken($white, 10%);
      &:after {
        color:darken($white, 10%);
      }
    }
        
    input#toggle-button[type=checkbox]:checked ~ ul {
      display:block;
    }
  }
  
  @include respond-to($medium) {
    > ul {
      display: block;
      width: 100%;
      table-layout: auto;
      position: relative;
      
      > li {
        display: inline-block;
        text-align: center;
      }
    }
  }
}