<layout file="main__corp">
  <region name="header">
    <partial file="corp/site/header"></partial>
  </region>
  <region name="highlighted">
    <partial file="corp/site/nav__main"></partial>
  </region>
  <region name="main-content">
    <div class="l-2col col__12">
      <h1 class="page--title">Advertise With Us</h1>
      <div class="col-left col__12-7">
        <div class="block block--news">
          <h2 class="block--title hidden">Advertise with Us</h2>
          <h3 ph-txt words="5"></h3>
          <partial file="corp/components/node"></partial>
        </div>
      </div>
      <div class="col-right col__12-5">
        <div class="block block--menu--sidebar">
          <h2 class="block--title hidden">Our Publications</h2>
          <ul class="links">
            <li class="leaf"><a href="" ph-txt words="4"></a></li>
            <li class="leaf"><a href="" ph-txt words="2"></a></li>
            <li class="leaf"><a href="" ph-txt words="2"></a></li>
            <li class="leaf"><a href="" ph-txt words="3"></a></li>
          </ul>
          <img src="images/content/devices.png" />
        </div>
      </div>
    </div>
  </region>
  <region name="footer">
    <partial file="corp/site/footer"></partial>
  </region>
</layout>