<layout file="main__corp">
  <region name="header">
    <partial file="corp/site/header"></partial>
  </region>
  <region name="highlighted">
    <partial file="corp/site/nav__main"></partial>
  </region>
  <region name="preface">
    <partial file="corp/components/slideshow"></partial>
  </region>
  <region name="main-content">
    <div class="l-2col col__12">
      <div class="col-left col__12-7">
        <div class="block block--news">
          <h2 class="block--title">Latest News</h2>
          <partial file="corp/components/news-item" repeat="3"></partial>
        </div>
      </div>
      <div class="col-right col__12-5">
        <div class="block block--publications">
          <h2 class="block--title">Our Publications</h2>
          <img ph-img="380x575" text="Publications" />
        </div>
      </div>
    </div>
  </region>
  <region name="footer">
    <partial file="corp/site/footer"></partial>
  </region>
</layout>