<layout file="main">
  <region name="header">
    <partial file="newspaper/site/header"></partial>
  </region>
  <region name="highlighted">
    <partial file="newspaper/site/nav__main"></partial>
  </region>
  <region name="preface">
    <partial file=""></partial>
  </region>
  <region name="sidebar-first">
    <partial file=""></partial>
  </region>
  <region name="main-content">
    <partial file=""></partial>
  </region>
  <region name="sidebar-second">
    <partial file=""></partial>
  </region>
  <region name="sub-content">
    <partial file=""></partial>
  </region>
  <region name="postscript">
    <partial file=""></partial>
  </region>
  <region name="footer">
    <partial file="newspaper/site/footer"></partial>
  </region>
  <region name="footer-sub">
    <partial file="newspaper/components/copyright"></partial>
  </region>
</layout>