<layout file="sidebar__right" class="home">
  <region name="page-top">
    <partial file="newspaper/site/top_bar"></partial>
  </region>
  <region name="header">
    <partial file="newspaper/site/header"></partial>
  </region>
  <region name="highlighted">
    <partial file="newspaper/site/nav__main"></partial>
    <partial data-show="desktop" file="newspaper/site/search"></partial>
    <partial data-hide="mobile" file="newspaper/components/breaking-news_single"></partial>
  </region>
  <region name="super-content">
    <partial file="newspaper/components/headline-article"></partial>
  </region>
  <region name="main-content">
    <partial file="newspaper/components/section_teaser-listing"></partial>
    <partial file="newspaper/components/section_teaser-listing"></partial>
    <partial file="newspaper/components/section_teaser-listing"></partial>
    <partial file="newspaper/components/section_teaser-listing"></partial>
  </region>
  <region name="sidebar-second">
    <partial data-hide="mobile" file="newspaper/components/ad_big"></partial>
    <partial data-hide="mobile" data-show="desktop" file="newspaper/components/aotm"></partial>
    <partial file="newspaper/components/most_viewed"></partial>
    <partial data-show="mobile" file="newspaper/components/ad_big"></partial>
    <partial data-show="mobile" file="newspaper/components/aotm"></partial>
    <partial file="newspaper/components/reader_poll"></partial>
  </region>
  <region name="footer">
    <partial file="newspaper/site/footer"></partial>
  </region>
  <region name="footer-sub">
    <partial file="newspaper/site/copyright"></partial>
  </region>
</layout>