<layout file="sidebar__left" class="merchant-directory">
  <region name="page-top">
    <partial file="newspaper/site/top_bar"></partial>
  </region>
  <region name="header">
    <partial file="newspaper/site/header"></partial>
  </region>
  <region name="highlighted">
    <partial file="newspaper/site/nav__main"></partial>
    <partial data-show="desktop" file="newspaper/site/search"></partial>
  </region>
  <region name="title-area">
    <h1 class="page--title">Merchant Directory</h1>
  </region>
  <region name="sidebar-first">
    <partial file="newspaper/components/merchant-dir"></partial>
  </region>
  <region name="main-content">
    <div class="block block--views block--merchant-directory view--merchant-directory">
      <h4 class="section--title">Restaurants &amp; Bars</h4>
      <div class="view--content">
        <partial file="newspaper/components/merchant__index"></partial>
        <partial file="newspaper/components/merchant__index"></partial>
        <partial file="newspaper/components/merchant__index"></partial>
        <partial file="newspaper/components/merchant__index"></partial>
        <partial file="newspaper/components/merchant__index"></partial>
        <partial file="newspaper/components/merchant__index"></partial>
      </div>
      <div class="view--footer">
        <ui file="pager"></ui>
      </div>
    </div>
  </region>
  <region name="footer">
    <partial file="newspaper/site/footer"></partial>
  </region>
  <region name="footer-sub">
    <partial file="newspaper/site/copyright"></partial>
  </region>
</layout>