<layout file="sidebar__right">
  <region name="header">
    <partial file="newspaper/site/header"></partial>
  </region>
  <region name="highlighted">
    <partial file="newspaper/site/nav__main"></partial>
    <partial file="newspaper/site/search"></partial>
  </region>
  <region name="main-content">
    <h1 class="page--title">Life &amp; Arts</h1>
    <partial file="newspaper/components/headline-article"></partial>
    <partial file="newspaper/components/breaking-news"></partial>
    <partial file="newspaper/components/section_teaser-listing"></partial>
    <partial file="newspaper/components/section_teaser-listing__no-img"></partial>
    <div class="block block--views__view block--views__movies">
      <h2 class="block--title">Movies</h2>
      <div class="block--content">
        <partial file="newspaper/components/node--movie__teaser"></partial>
        <partial file="newspaper/components/node--movie__teaser"></partial>
        <partial file="newspaper/components/node--movie__teaser"></partial>
        <partial file="newspaper/components/node--movie__teaser"></partial>
      </div>
    </div>
  </region>
  <region name="sidebar-second">
    <partial file="newspaper/components/ad_big"></partial>
    <partial file="newspaper/components/scene"></partial>
    <partial file="newspaper/components/most_viewed"></partial>
    <partial file="newspaper/components/reader_poll"></partial>
  </region>
  <region name="footer">
    <partial file="newspaper/site/footer"></partial>
  </region>
  <region name="footer-sub">
    <partial file="newspaper/site/copyright"></partial>
  </region>
</layout>