<layout file="sidebar__right">
  <region name="page-top">
    <partial file="newspaper/site/top_bar"></partial>
  </region>
  <region name="header">
    <partial file="newspaper/site/header"></partial>
  </region>
  <region name="highlighted">
    <partial file="newspaper/site/nav__main"></partial>
    <partial data-show="desktop" file="newspaper/site/search"></partial>
  </region>
  <region name="main-content">
    <div id="breadcrumbs">
      <ul class="breadcrumbs links inline">
        <li class="breadcrumb"><a href="#/newsaper/home">Home</a></li>&nbsp;>&nbsp;
        <li class="breadcrumb"><a href="#/newspaper/news">News</a></li>
      </ul>
    </div>
    <h1 class="node--title">Headlines Suffer From Multiple Mispellings</h1>
    <article class="node--full node--news">
      <div class="node--image">
        <img src="" alt="" ph-img="620x340" text="News Article Image" />
      </div>
      <div class="node--content">
        <ui file="author-info"></ui>
        <div class="node--body" ph-txt paragraphs="3"></div>
      </div>
      <ui file="comments"></ui>
      <partial file="newspaper/components/columnist-stories"></partial>
    </article>
  </region>
  <region name="sidebar-second">
    <partial file="newspaper/components/ad_big"></partial>
    <partial file="newspaper/components/aotm"></partial>
    <partial file="newspaper/components/most_viewed"></partial>
    <partial file="newspaper/components/reader_poll"></partial>
  </region>
  <region name="footer">
    <partial file="newspaper/site/footer"></partial>
  </region>
  <region name="footer-sub">
    <partial file="newspaper/site/copyright"></partial>
  </region>
</layout>