<layout file="sidebar__right">
  <region name="header">
    <partial file="newspaper/site/header"></partial>
  </region>
  <region name="highlighted">
    <partial file="newspaper/site/nav__main"></partial>
    <partial file="newspaper/site/search"></partial>
  </region>
  <region name="main-content">
    <div id="breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumb"><a href="#/newsaper/home">Home</a></li>&nbsp;>&nbsp;
        <li class="breadcrumb"><a href="#/newspaper/opinion">Opinion</a></li>&nbsp;>&nbsp;
        <li class="breadcrumb"><a href="#/newspaper/opinion-columnists">Contributing Columnists</a></li>
      </ul>
    </div>
    <h1 class="page--title">I did more than just sign a piece of paper</h1>
    <article class="node--columnst node--full">
      <ui file="submitted-info"></ui>
      <p ph-txt="" sentences="6"></p>
      <ui file="share-this"></ui>
    </article>
    <ui file="comments"></ui>
    <partial file="newspaper/components/columnist-stories"></partial>
  </region>
  <region name="sidebar-second">
    <partial file="newspaper/components/columnist-bio"></partial>
    <partial file="newspaper/components/ad_big"></partial>
    <partial file="newspaper/components/most_viewed"></partial>
    <partial file="newspaper/components/reader_poll"></partial>
  </region>
  <region name="footer">
    <partial file="newspaper/site/footer"></partial>
  </region>
  <region name="footer-sub">
    <partial file="newspaper/site/copyright"></partial>
  </region>
</layout>