<layout file="sidebar__right">
  <region name="header">
    <partial file="newspaper/site/header"></partial>
  </region>
  <region name="highlighted">
    <partial file="newspaper/site/nav__main"></partial>
    <partial file="newspaper/site/search"></partial>
  </region>
  <region name="main-content">
    <h1 class="page--title">Photo Poll</h1>
    <partial file="newspaper/components/photo-poll"></partial>
    <partial file="newspaper/components/photo-poll"></partial>
    <ui file="pager"></ui>
  </region>
  <region name="sidebar-second">
    <partial file="newspaper/components/poll-archive"></partial>
    <partial file="newspaper/components/ad_big"></partial>
    <partial file="newspaper/components/reader_poll"></partial>
  </region>
  <region name="footer">
    <partial file="newspaper/site/footer"></partial>
  </region>
  <region name="footer-sub">
    <partial file="newspaper/site/copyright"></partial>
  </region>
</layout>