<partial file="header"></partial>

<div class="main">
  <div class="toute">
    <partial file="bundle-date"></partial>
    <div class="primary">
      <partial file="bundle-large"></partial>
      <partial file="quote"></partial>

    </div>
    <div class="secondary">
       <partial file="bundle-small"></partial>
       <partial file="bundle-small"></partial>
       <partial file="bundle-small"></partial>
       <partial file="bundle-small"></partial>
    </div>
  </div>

  <partial file="more-things"></partial>

   <div class="toute">
    <partial file="bundle-date"></partial>
    <div class="primary">
      <partial file="bundle-large"></partial>
    </div>
    <div class="secondary">
       <partial file="bundle-small"></partial>
       <partial file="bundle-small"></partial>
       <partial file="bundle-small"></partial>
    </div>
  </div>
</div>
<partial file="footer"></partial>
