<layout file="home-template">

  <region name="topper">
    <partial file="bundle-date"></partial>
  </region>

  <region name="primary">  
    <partial file="bundle-large"></partial>
    <partial file="quote"></partial>
  </region>

  <region name="secondary">
     <partial file="bundle-small"></partial>
     <partial file="bundle-small"></partial>
     <partial file="bundle-small"></partial>
     <partial file="bundle-small"></partial>
  </region>

  <region name="middle">
    <partial file="more-things"></partial>
  </region>

</layout>