<partial file="header"></partial>

<div class="main">
	<div class="slider">
		<div class="description">
			<h4 ph-txt words="5"></h3>
			<p ph-txt words="20"></p>
			<a href="#">Read More</a> 
		</div>
		<div class="slider-img">
			<img ph-img="600x600" text="product image">
		</div>

	</div>
	<div class="products">
		<partial file="product"></partial>
		<partial file="product"></partial>
		<partial file="product"></partial>
		<partial file="product"></partial>
		<partial file="product"></partial>
		<partial file="product"></partial>
		<partial file="product"></partial>
		<partial file="product"></partial>
		<partial file="product"></partial>
		<partial file="product"></partial>
		<partial file="product"></partial>
		<partial file="product"></partial>

	</div>
</div>
<partial file="footer"></partial>