<div class="container">
  <partial file="header"></partial>

  <div class="main">

    <div class="toute">
      <div region="topper">
      </div>
      <div class="primary" region="primary">
      </div>
      <div class="secondary" region="secondary">
      </div>
    </div>

    <div region="middle">
      <partial file="more-things"></partial>
    </div>

    <div class="toute">
      <div region="topper"></div>
      <div class="primary" region="primary">
      </div>
      <div class="secondary" region="secondary">
      </div>
    </div>

  </div>

  <partial file="footer"></partial>
</div>