<!-- ZenCoding partial: layout[file=main]>(region[name=page-top]>partial[file=site/top_bar])+(region[name=header]>partial[file=site/header])+(region[name=highlighted]>partial[file=site/nav__main])+(region[name=preface]>partial[file=])+(region[name=sidebar-first]>partial[file=])+(region[name=super-content]>partial[file=])+(region[name=main-content]>partial[file=])+(region[name=sidebar-second]>partial[file=])+(region[name=sub-content]>partial[file=])+(region[name=postscript]>partial[file=])+(region[name=footer]>partial[file=site/footer])+(region[name=footer-sub]>partial[file=site/copyright]) -->

<div class="container newspaper sidebar-right" id="container" theme="OPP">
  <div class="z-page-top zone">
    <div class="w-page-top">
      <div class="l-page-top page-top" region="page-top"></div>
    </div>
  </div>
  <div class="z-header zone">
    <div class="w-header">
      <div class="l-header header" region="header"></div>
    </div>
    <div class="w-highlighted">
      <div class="l-highlighted highlighted" region="highlighted"></div>
    </div>
  </div>
  <div class="z-preface zone">
    <div class="w-preface">
      <div class="l-preface preface" region="preface"></div>
    </div>
  </div>
  <div class="z-content zone">
    <div class="w-content">
      <div class="l-content">
        <div class="l-title-area" region="title-area"></div>
        <div class="l-main main">
          <div class="l-super super" region="super-content"></div>
          <div region="main-content"></div>
          <div class="l-sub sub" region="sub-content"></div>
        </div>
        <div class="l-sidebar-second sidebar-second" region="sidebar-second"></div>
      </div>
    </div>
  </div>
  <div class="z-postscript zone">
    <div class="w-postscript">
      <div class="l-postscript postscript" region="postscript"></div>
    </div>
  </div>
  <div class="z-footer zone">
    <div class="w-footer">
      <div class="l-footer footer" region="footer"></div>
    </div>
  </div>
  <div class="z-sub zone">
    <div class="w-sub">
      <div class="l-footer-sub footer-sub" region="footer-sub"></div>
    </div>
  </div>
</div>