<div id="container" class="container" data-layout="stark">
  <div class="z-header zone">
    <div class="w-header">
      <partial file="bg-video"></partial>
      <div class="l-header header" region="header"></div>
    </div>
  </div>
  <div class="z-content zone">
    <div class="l-main main" region="main-content"></div>
  </div>
  <div class="z-footer zone">
    <div class="w-footer">
      <div class="l-footer footer" region="footer"></div>
    </div>
  </div>
  <div class="z-footer-sub zone">
    <div class="w-footer-sub">
      <div class="l-footer-sub footer-sub" region="footer-sub"></div>
    </div>
  </div>
</div>