.topbar {
  background-color: $middle-grey;
  
  nav#primary-nav[role="custom-dropdown"] {
    li.dropdown {}
  }
}

nav {
  &.global,
  &.user {
    .dropdown {
      @include box-shadow(0 8px 10px -4px rgba($black, 0.6));
      background-color: $white;
      border-bottom: 2px solid $main-nav-grey;
      list-style: none outside none;
      padding-left: 0;
      padding-top: 0.3em;
      
      &.menu-item {
        padding-top: 0;
        border-bottom: 1px solid $white;
        
        &:last-child {
          border-bottom: medium none;
        }
      }
      
      @include respond-to($medium) {
        border-left: 2px solid $main-nav-grey;
        border-right: 2px solid $main-nav-grey;
        top: 42px;
      }
    }
    
    > ul {
      > li {
        @include transition-property(background-color);
        @include transition-duration(200ms);
        @include transition-delay(200ms);

        > a {
          color: $black;
          
          @include respond-to($medium) {
            font-size: 0.8em;
            padding: 5px 1.3em 0;
          }
          
          i {
            text-indent: 0.625em;
          }
        }
          
        &.active,
        &.open {
          @include transition-delay(0);
          background-color: $white;
          
          a {
            border-right-color: transparent;
          }
        }
      }
    }
  }
  
  &.global  {
    .user--login {
      .welcome {
        display: block;
      }
      li {
        display: inline-block;
      }
    }
  }
  
  &.user {
    > ul {
      > li {
        &:first-child {
          padding-right: 1em;
        }
        &:last-child {
          border-right: medium none;
        }
      }
    }
    
    .user--welcome {
      vertical-align: middle;
      
      .user--actions {
        display: inline;
        visibility: visible;
        min-width: 0;
        position: relative;
        
        li {
          display: inline-block;
        }
      }
    }
  }
  
  .welcome {
    .message {
      font-size: 20px;
      line-height: 1;
    }
    .username {
      color: $dark-grey;
      font-size: 18px;
    }
  }
  
  .user--welcome {
    .message {
      padding: 0.625em;
      vertical-align: bottom;
    }
    
    .username {
      vertical-align: bottom;
    }
  }
  
  .user--actions {
    padding-left: 0;
    
    li {
      font-size: 16px;
      vertical-align: middle;
      
      button,
      a {
        font-size: 12px;
        line-height: 1;
        vertical-align: bottom;
      }
      
      button {
        margin: 0;
        padding: 0.625em;
      }
      
      a {
        color: $black;
        display: block;
        padding: 0.625em;
        width: 100%;
      }
      
/*
      &.signout,
      &.settings {
        display: inline-block;
        text-align: center;
        width: 50%;
      }
*/
      
      &.signout {}
      
      &.settings {
        .icon:before {
          left: -0.5em;
        }
      }
    }
  }
}