.dropdown {
  @include respond-to($medium, max-width) {
  	a {
    	text-decoration: none;
    }
  
  	[data-toggle="dropdown"] {
      &:before {
  			color: #fff;
  			@include transform(rotate(0deg));
  			@include transition(transform 300ms);
  		}
  	}
  
  	> .dropdown-menu {
  		@include ul-nostyle;
  		@include transform(scaleY(0));
  		@include transform-origin(50%, 0%);
  		@include transition-property(max-height, transform);
  		@include transition-duration(600ms, 300ms);
  		@include transition-delay(0s);
  		//@include animation(hideAnimation 400ms);
  
  		li {
  			padding: 0;
  
  			a {
  				color: $white;
  			}
  		}
  	}
  	
  	ul {
      > li {
      	> a {
      	 &:link,
      	 &:visited {
        	 color: $light-grey;
      	 }
      	 
      	 &:hover,
      	 &:focus,
      	 &:active,
      	 &.active {
        	 color: $black;
      	 }
      	}
      }
  	}
    
    > input[type="checkbox"] {
      &:checked ~ .dropdown-menu {
  			@include transform(scaleY(1));
  			@include transition-property(max-height, transform);
  			@include transition-duration(600ms, 300ms);
    		@include transition-delay(0s);
  			//@include animation(showAnimation 500ms);
      }
      
      &:checked + a[data-toggle="dropdown"] {
        &:before {
          @include transform(rotate(-180deg));
          @include transition(transform 300ms);
        }
      }
      
      &:hover + a[data-toggle="dropdown"],
      &:focus + a[data-toggle="dropdown"] {
      	@include transition(all 200ms ease-in 0s);
      }
    }
  }
}

#primary-nav {
  /*
@include respond-to($medium, max-width) {
    > ul {
      > li {
    		> a {
      		@include text-shadow(0 -1px 0 rgba($black, 0.3));
      		color: white;
      		background: $main-nav-grey;
    		}
      }
    }
  }
*/

  a {
    &:link,
    &:visited {
      color: $white;
      display: block;
      font-weight: normal;
      padding: 0.5em 0.75em;
    }
  
    &.active,
    &.active-trail,
    &:hover,
    &:focus {
      color: $white;
    }
  
    &.active,
    &.active-trail {
      + ul {
        display: block;
        visibility: visible;
        z-index: 1;
      
        a.active,
        a.active-trail {
          background-color: $white;
          color: $black;
          font-weight: bold;
        }
      }
    }
  }
  
  ul {
    @include ul-nostyle;
  }
}